{{!-- Damage row partial --}}
{{#*inline "damageRow"}}
  {{#with dr.normal}}
    <div class="flexrow damage-part">
      <span>{{> "modules/pf1-alt-sheet/templates/chat/damage-type.hbs" damage=damageType}}</span>
      {{{inlineRoll.outerHTML}}}
    </div>
  {{/with}}

  {{#with dr.crit}}
    <div class="flexrow damage-part crit">
      <span>{{> "modules/pf1-alt-sheet/templates/chat/damage-type.hbs" damage=damageType}}</span>
      {{{inlineRoll.outerHTML}}}
    </div>
  {{/with}}
{{/inline}}

{{!-- Attack table partial --}}
{{#*inline "attackTable"}}
  {{#unless atk.notesOnly}}
    {{#if atk.hasAttack}}
      <div class="flexrow attack-row">
        <h1 class="attack-flavor">
          {{atk.attack.flavor}}
          {{#if atk.rollData.d20}}
            <i class="fas fa-dice-d20" title="{{localize "PF1.CustomRollDesc"}}"></i>
          {{else if atk.attack.isStatic}}
            {{#with atk.method}}
              {{#if icon}}
              <span class="part-method" data-tooltip="{{label}}" aria-label="{{localize label}}">
                {{{icon}}}
              </span>
              {{/if}}
            {{/with}}
          {{/if}}
        </h1>
        {{#if atk.attack.isNat20}}
          <span class="nat20-text">20!</span>
        {{/if}}
        {{{atk.attack.inlineRoll.outerHTML}}}
      </div>

      {{#if atk.hasCritConfirm}}
      <div class="flexrow crit-confirm">
        <h2>{{atk.critConfirm.flavor}}</h2>
        {{#if atk.critConfirm.armorAsDR}}
          {{! Armor as DR – Defense DC }}
          <span>{{localize "PF1.DefenseDC"}}:</span>
        {{/if}}
        {{{atk.critConfirm.inlineRoll.outerHTML}}}
      </div>
      {{/if}}
    {{/if}}

    {{#if atk.hasDamage}}
      <div class="flexrow damage-row">
        <h2>{{atk.damage.flavor}}</h2>
        {{#if atk.hasCards}}
          <div class="card-buttons flexrow">
          {{#each atk.cards.damage.items as |item|}}
            <button class="inline-action" data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}">{{item.label}}</a>
          {{/each}}
          </div>
        {{/if}}
        <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">
          {{atk.damage.total}}
        </a>
      </div>

      {{#if atk.hasCritConfirm}}
        <div class="flexrow damage-row crit">
          <h2>{{atk.critDamage.flavor}}</h2>
          {{#if atk.hasCards}}
            <div class="card-buttons flexrow">
            {{#each atk.cards.critical.items as |item|}}
              <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}">{{item.label}}</a>
            {{/each}}
            </div>
          {{/if}}
          <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">
            {{atk.critDamage.total}}
          </a>
        </div>
      {{/if}}
      
      {{!-- Damage parts in an attack --}}
      {{#each atk.damageRows as |dr|}}
        {{> damageRow atk=../atk dr=dr}}
      {{/each}}
    {{/if}}
  {{else}}
    {{#if atk.label}}
      {{atk.label}}
    {{/if}}
  {{/unless}}
{{/inline}}

{{!-- Attack roll card --}}
<div class="pf1alt chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{~> "systems/pf1/templates/chat/parts/attack-roll-header.hbs"}}

  {{#if targets}}
  {{> "systems/pf1/templates/chat/parts/attack-roll-targets.hbs"}}
  {{/if}}

  {{#each attacks as |atk idx|}}
  <div class="chat-attack" data-index="{{idx}}">
    {{> attackTable atk=atk}}

    <hr />
    {{#if ../hasSave}}
      <div class="flexcol card-buttons save">
        <button data-action="save" data-dc="{{../save.dc}}" data-save="{{../save.type}}"
          {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
          data-tags="{{../save.tags}}">
          {{../save.label}}
        </button>
      </div>
    {{/if}}
    
    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/pf1/templates/chat/parts/attack-roll-footer.hbs"}}
</div>
