{{!-- Damage type indicators --}}
<div class="alt-damage-type-visual {{#unless damage.types.size}} empty{{/unless}}"{{#if name}} data-name="{{name}}"{{/if}}>
{{#if damage.types.size}}
  {{! Standard Damage }}
  {{#each damage.standard}}
  <div class="alt-damage-type" data-tooltip="{{name}}">
    {{#if icon }}
    <i class="{{icon}} icon" style="color: {{color}}"></i>
    {{else}}
    <img class="icon" src="{{img}}" />
    {{/if}}
    {{#if (eq ../damage.types.size 1)}}
    <span class="name">{{name}}</span>
    {{/if}}
  </div>
  {{/each}}
  {{! Custom Damage }}
  {{#if damage.custom.size}}
    <div class="alt-damage-type" data-tooltip="{{data.custom}}">
      {{#each damage.custom}}<span class="name">{{this}}</span>{{#unless @last}};{{/unless}}{{/each}}
    </div>
  {{/if}}
{{else}}
  {{!-- No types --}}
  <span>{{localize "PF1.Undefined"}}</span>
{{/if}}
</div>
