<form class="{{cssClass}} {{altSheet.theme}} pf1alt {{#if (eq altSheet.headerSidebar "true")}}sidebar flexrow{{else}}flexcol{{/if}}" data-tooltip-class="pf1" autocomplete="off">

  {{#if isCharacter}}
    {{#unless hasClasses}}
      <span class="sheet-warning">{{localize "PF1AS.InfoMissingClass"}}</span>
    {{/unless}}
  {{/if}}

  {{!-- Sheet Header --}}
  {{> "modules/pf1-alt-sheet/templates/parts/actor-header.hbs"}}

  {{#if (eq altSheet.headerSidebar "true")}}
    <div class="sidebar-body">
  {{/if}}

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="details" data-group="primary">{{ localize "PF1.Summary" }}</a>
    <a class="item" data-tab="attributes" data-group="primary">{{ localize "PF1.Attributes" }}</a>
    <a class="item" data-tab="attacks" data-group="primary">{{ localize "PF1.Combat" }}</a>
    <a class="item" data-tab="inventory" data-group="primary">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="feats" data-group="primary">{{ localize "PF1.Features" }}</a>
    <a class="item" data-tab="skills" data-group="primary">{{ localize "PF1.Skills" }}</a>
    <a class="item" data-tab="buffs" data-group="primary">{{ localize "PF1.Buffs" }}</a>
    {{#if usesAnySpellbook}}
      <a class="item" data-tab="spellbook" data-group="primary">{{ localize "PF1.Spells" }}</a>
    {{/if}}
    <a class="item" data-tab="biography" data-group="primary">{{ localize "PF1.Biography" }}</a>
    <a class="item" data-tab="notes" data-group="primary">{{ localize "PF1.Notes" }}</a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-body">
    {{!-- Details Tab --}}
    
    <div class="tab details flexcol" data-group="primary" data-tab="details">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-details.hbs"}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-attributes.hbs"}}
    </div>
    {{!-- Attacks Tab --}}
    <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-attacks.hbs" sections=attacks}}
    </div>
    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-inventory.hbs" sections=inventory}}
    </div>
    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary" data-tab="feats">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-features.hbs" sections=features}}
    </div>
    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills-front.hbs"}}
    </div>
    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-buffs.hbs" sections=buffs}}
    </div>
    {{!-- Spellbook Tab --}}
    {{#if usesAnySpellbook}}
      <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
        {{> "modules/pf1-alt-sheet/templates/parts/actor-spellbook-front.hbs"}}
      </div>
    {{/if}}
    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    </div>
    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      {{editor notesHTML target="system.details.notes.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    </div>
  </section>

  {{#if (eq altSheet.headerSidebar "true")}}
    </div>
  {{/if}}
</form>
