{{!-- Spellbooks --}}
<form autocomplete="off" onsubmit="event.preventDefault();" class="{{altSheet.theme}}">
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.SpellbookUsage"}}</h2>
    </div>
    {{#each spellbookData as |spellbook a|}}
      <label class="checkbox">
        <input type="checkbox" {{checked spellbook.inUse}} name="system.attributes.spells.spellbooks.{{a}}.inUse"/> {{localize spellbook.label}}
      </label>
    {{/each}}
  </div>
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.AbilityScoreLinks"}}</h2>
    </div>
    {{!-- Hit Points --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.HitPoints"}}</label>
      <select name="system.attributes.hpAbility" class="cell midsize-cell half">
        {{selectOptions @root.config.abilities selected=system.attributes.hpAbility blank=""}}
      </select>
    </div>
    <div class="flexrow">
      <h3>{{localize "PF1.Combat"}}</h3>
    </div>
    {{!-- Initiative --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Initiative"}}</label>
      <select name="system.attributes.init.ability" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.init.ability blank=""}}
      </select>
    </div>
    {{!-- CMB --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.CMB"}}</label>
      <select name="system.attributes.cmbAbility" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.cmbAbility blank=""}}
      </select>
    </div>
    {{!-- Melee --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Melee"}}</label>
      <select name="system.attributes.attack.meleeAbility" class="cell midsize half">
        {{selectOptions config.abilities selected=system.attributes.attack.meleeAbility blank=""}}
      </select>
    </div>
    {{!-- Ranged --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Ranged"}}</label>
      <select name="system.attributes.attack.rangedAbility" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.attack.rangedAbility blank=""}}
      </select>
    </div>
    {{!-- Defense --}}
    <div class="flexrow">
      <h3>{{localize "PF1.Defense"}}</h3>
    </div>
    {{!-- ArmorClass --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.ArmorClass"}}</label>
      <select name="system.attributes.ac.normal.ability" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.ac.normal.ability blank=""}}
      </select>
    </div>
    {{!-- AC Touch --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.ACTouch"}}</label>
      <select name="system.attributes.ac.touch.ability" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.ac.touch.ability blank=""}}
      </select>
    </div>
    {{!-- CMD --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.CMDAbbr"}} {{localize "PF1.AbilityStr"}}</label>
      <select name="system.attributes.cmd.strAbility" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.cmd.strAbility blank=""}}
      </select>
    </div>
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.CMDAbbr"}} {{localize "PF1.AbilityDex"}}</label>
      <select name="system.attributes.cmd.dexAbility" class="cell midsize half">
        {{selectOptions @root.config.abilities selected=system.attributes.cmd.dexAbility blank=""}}
      </select>
    </div>
    {{!-- Saving Throws --}}
    <div class="flexrow">
      <h3>{{localize "PF1.SavingThrowPlural"}}</h3>
    </div>
    {{#each system.attributes.savingThrows}}
      <div class="flexrow">
        <label class="cell left-label half">{{label}}</label>
        <select name="system.attributes.savingThrows.{{@key}}.ability" class="cell midsize half">
          {{selectOptions @root.config.abilities selected=ability blank=""}}
        </select>
      </div>
    {{/each}}
  </div>

  {{!-- Sheet Settings --}}
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1AS.Config.SheetSettings"}}</h2>
    </div>
    <div class="flexrow" data-tooltip="{{localize "PF1AS.Config.SidebarTooltip"}}">
      <label class="cell left-label half">{{localize "PF1AS.Config.Sidebar"}}</label>
      <select class="cell midsize half" name="altSheet.headerSidebar">
        {{selectOptions altSheet.sidebarOptions selected=altSheet.headerSidebar}}
      </select>
    </div>
    <div class="flexrow" data-tooltip="{{localize "PF1AS.Config.ThemeTooltip"}}">
      <label class="cell left-label half">{{localize "PF1AS.Config.Theme"}}</label>
      <select class="cell midsize half" name="altSheet.theme">
        {{selectOptions altSheet.themeOptions selected=altSheet.theme}}
      </select>
    </div>
  </div>

  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.Misc"}}</h2>
    </div>
    <div class="form-group stacked">
      <label class="checkbox">
        <input type="checkbox" name="system.config.noManeuvers" {{checked system.config.noManeuvers}}>
        {{localize "PF1.SETTINGS.NoManeuvers"}}
      </label>
    </div>
  </div>

  {{!-- Optional Rules --}}
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.OptionalAndVariantRules"}}</h2>
    </div>
    <div class="flexrow">
      {{!-- Wound Thresholds --}}
      <label class="cell left-label half">{{localize "PF1.WoundThresholdOverride"}}</label>
      <select class="cell midsize half" name="system.attributes.woundThresholds.override" {{#unless woundThresholds.allowWoundThresholdOverride}}disabled{{/unless}}>
          {{#select system.attributes.woundThresholds.override}}
            <option value="-1">{{localize 'PF1.Default'}}</option>
            <option value="0">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdDisabled'}}</option>
            <option value="1">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdNormal'}}</option>
            <option value="2">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdGritty'}}</option>
          {{/select}}
      </select>
    </div>
  </div>
  {{!-- Links --}}
  {{#if actorLinkEnabled}}
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1AS.Links.Header"}}</h2>
    </div>
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1AS.Links.Mode"}}</label>
      <select class="cell midsize half" name="altSheet.links.mode">
          {{selectOptions altSheet.links.options selected=altSheet.links.mode}}
      </select>
    </div>
  </div>
  {{/if}}
  {{!-- {{#if isGM}}
    <div class="form-group stacked"> --}}
    {{!-- Tooltip Settings --}}
      {{!-- <div class="flexrow">
          <h2>{{localize "PF1.TooltipConfigName"}}</h2>
      </div>

      <div class="flexrow">
          <label class="cell left-label half">{{localize "PF1.Name"}}</label>
          <input class="cell midsize half"  type="text" name="system.details.tooltip.name" placeholder="{{token.name}}" value="{{system.details.tooltip.name}}" />
      </div>

      <div class="flexrow">
        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideHeld" {{checked actor.system.details.tooltip.hideHeld}}/> {{localize "PF1.HideHeld"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideArmor" {{checked actor.system.details.tooltip.hideArmor}}/> {{localize "PF1.HideArmor"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideBuffs" {{checked actor.system.details.tooltip.hideBuffs}}/> {{localize "PF1.HideBuffs"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideConditions" {{checked actor.system.details.tooltip.hideConditions}}/> {{localize "PF1.HideConditions"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideClothing" {{checked actor.system.details.tooltip.hideClothing}}/> {{localize "PF1.HideClothing"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="system.details.tooltip.hideName" {{checked actor.system.details.tooltip.hideName}}/> {{localize "PF1.HideName"}}
        </label>
      </div>
    </div>
  {{/if}} --}}
  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "PF1.Save"}}</button>
  <button type="submit" name="reset-config" value="2" title="{{localize "PF1AS.Config.ResetTooltip"}}"><i class="fas fa-backspace"></i> {{localize "PF1AS.Config.Reset"}}</button>
</form>
