.pf1alt {
  .type-color {
    --primary: #fff;
    --secondary: #c1c1c1;
    --foreground: black;

    &.type-buff {
      --primary: #fdf767;
      --secondary: #fdf203;
      --foreground: black;
    }

    &.type-feat {
      --primary: #8900ea;
      --secondary: #5f00a3;
      --foreground: white;
    }

    &.type-spell {
      --primary: #5c37ff;
      --secondary: #4026b2;
      --foreground: white;
    }

    &.type-class {
      --primary: #85b1d2;
      --secondary: #6a8da8;
      --foreground: black;
    }

    &.type-race {
      --primary: #00bd29;
      --secondary: #00841c;
      --foreground: black;
    }

    &.type-attack {
      --primary: #f21b1b;
      --secondary: #a91212;
      --foreground: white;
    }

    &.type-weapon,
    &.type-equipment,
    &.type-consumable,
    &.type-loot {
      --primary: #e5e5e5;
      --secondary: #b7b7b7;
      --foreground: black;
    }

    &.defenses {
      --foreground: black;
    }

    &.card-header {
      color: var(--foreground);
      background-image: linear-gradient(to right, var(--primary), var(--secondary));

      .item-name {
        color: var(--foreground);
      }
    }
  }

  .fake-inline-roll {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
  }
}

.pf1alt.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
    background: linear-gradient(to right, var(--primary), var(--secondary));

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 28px;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 22px;
      font-variant: small-caps;
      color: #4b4a44;
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-range {
    display: block;
    margin: 0 2px 1px 0;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    flex: 0 1 auto;
    text-align: center;

    &:hover {
      border-color: blue;
    }
  }

  .nat20-text {
    flex: 0 0 auto;
    margin-right: 5px;
    border-bottom: unset;
    box-shadow: inset 0px -2px 0px 0px #782e22;
    font-size: 1.5em;
    color: #4c964c;
    font-weight: bold;
  }

  .card-buttons {
    margin: 2px 0;
    flex: 0 0 auto;

    .card-button-group label {
      text-align: center;
    }

    button {
      font-size: 12px;
      height: 20px;
      line-height: 16px;
      margin: 2px 0;
      min-width: 35px;
      padding-left: 2px;
      padding-right: 2px;
    }

    button[data-action="save"] {
      height: 34px;
      font-size: 14px;
    }

    &.save {
      height: 35px;
    }

    span {
      display: block;
      line-height: 20px;
      text-align: center;
      border: 1px solid #ccc;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    .spell-failure {
      padding: 4px;
      margin-bottom: 4px;
      border: 1px solid #999;
      border-radius: 3px;

      h3 {
        color: #4c6d9f;
        font-size: 16px;
        text-align: center;
      }

      &.dice-roll,
      &.dice-total {
        padding: 0;
      }
    }
  }

  .attack-row,
  .damage-row {
    align-items: baseline;

    h1 {
      margin-bottom: 4px;
      font-size: 1.5em;
      font-weight: bold;
      border-bottom: unset;
      box-shadow: inset 0px -2px 0px 0px #782e22;
    }

    h2 {
      font-size: 1.3em;
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }

  .attack-row a.inline-result,
  .crit-confirm a.inline-result,
  .damage-row a.inline-result {
    border-radius: 2px;
    font-size: 1.3em;
  }

  .fake-inline-roll {
    padding: 1px 4px 0 4px;
    color: black;
    text-shadow: none;
    font-weight: normal;

    i {
      color: #7a7971;
    }
  }

  .damage-row .fake-inline-roll {
    font-size: 1.3em;
    margin-left: 5px;
  }

  .inline-roll,
  .fake-inline-roll {
    flex: 0;
    height: 100%;

    .dice-tooltip {
      z-index: 1;

      .part-header .part-formula {
        text-align: left;
      }
    }

    &.success {
      background-color: #7897c0;
    }

    &.nat20 {
      background-color: #60c060;
    }

    &.failure {
      background-color: #c06060;
    }
  }
}

.pf1alt.chat-card .alt-damage-type-visual {
  display: flex;
  height: 25px;
  border: none;
  background: initial;

  .alt-damage-type {
    display: flex;
    align-items: center;

    .icon {
      padding-right: 5px;
      background-color: initial;
      font-size: 1.7rem;
    }

    .name {
      font-size: 1.2em;
    }
  }

  .ammo.group-container {
    position: relative;
    border: 1px solid var(--color-border-dark-2);
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
  }

  .group-title {
    margin-right: 5%;
    align-items: center;
    display: flex;
  }

  .ammo .name {
    margin-right: 5%;
  }

  .ammo a {
    opacity: 1;
    margin: 0px 5px;
  }
}
