/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
@font-face {
  font-family: "Modesto Condensed Bold";
  src: url("../../fonts/signika/signika-bold.woff2") format("woff2");
  unicode-range: U+00DF;
}

@font-face {
  font-family: "ModernAntiquaNumbers";
  src: url("../fonts/MedievalSharp-Regular.ttf") format("truetype");
  unicode-range: U+0030-0039;
}

/*@font-face {
  font-family: "ModernAntiquaNumbers";
  src: url("../fonts/Newrocker-gy5a.ttf") format("truetype");
  unicode-range: U+0030-0039;
}*/

.pf1alt.note-editor button {
  height: 32px;
}

.pf1alt.sheet,
.pf1alt.app {
  --pf1alt-simple-text-font: "Signika", sans-serif;
  --pf1alt-sheet-nav-font: "Modesto Condensed Bold", "Signika", serif;
  --pf1alt-charname-font: "NewRocker", "Signika", serif;
  --pf1alt-sheet-header-font: "ModernAntiquaNumbers", "ModernAntiqua", "Signika", serif;
  --pf1alt-sheet-header-simple-font: "ModernAntiquaNumbers", "ModernAntiqua", "Nodesto", "Signika", serif;
  --pf1alt-sheet-section-font: "ModernAntiquaNumbers", "EagleLake", "Signika", "Palatino Linotype", serif;
  --pf1alt-ability-header-font: "ModernAntiquaNumbers", "ModernAntiqua", "Nodesto", "Signika", "Palatino Linotype", serif;
  --pf1alt-block-header-font: "ModernAntiquaNumbers", "EagleLake", "Signika", serif;
  --pf1alt-ability-score-font: "ModernAntiquaNumbers", "Nodesto", "Signika", serif;
  --pf1alt-attribute-font: "ModernAntiquaNumbers", "EagleLake", "Signika", serif;

  &.theme-default,
  .theme-default {
    --pf1alt-attribute-header-bg: rgb(189 189 189 / 30%);
    --pf1alt-attribute-header-color: #000;
    --pf1alt-attribute-content-bg: rgb(189 189 189 / 15%);
    --pf1alt-rollable-color: #5c9bab;
    --pf1alt-rollable-control-color: #306b79cc;
    --pf1alt-rollable-control-color-disabled: #2c606d38;
    --pf1alt-rollable-color-disabled: #2c606d38;
    --pf1alt-rollable-hover-color: #2c606d;
    --pf1alt-input-color: #2c606d;
    --pf1alt-hover-shadow: #ed0000;
    --pf1alt-border-color: #d1d1d1;
    --pf1alt-select-option-color: #dad8cc;
    --pf1alt-img-border-color-inverted: #4c62e1;
    --pf1alt-line-shading-odd: rgba(210, 210, 210, 0.3);
    --pf1alt-line-shading-even: rgba(155, 155, 155, 0.3);
    --pf1alt-gradient-shade1: rgb(186 186 167 / 15%);
    --pf1alt-gradient-shade2: rgb(186 186 167 / 15%);
    --pf1alt-filter-border-color: #8a8983;
    --pf1alt-item-header-bg: rgb(189 189 189 / 30%);
    --pf1alt-nav-border-color: #75514b;
    --pf1alt-nav-border-active-color: #44191a;
    --pf1alt-nav-hover-shade: rgb(122 122 122 / 80%);
    --pf1alt-nav-active-shade: rgb(0 0 0 / 35%);
    --pf1alt-encumbered-bg: #44191a;
    --pf1alt-encumbered-border-color: #be4a4c;
    --pf1alt-encumbrance-bar-bg: #6c8aa5;
    --pf1alt-encumbrance-bar-border-color: #cde4ff;
    --pf1alt-negative-skill-mod: #44191a;
    --pf1alt-buttonbg: rgba(0, 0, 0, 0.1);
    --pf1alt-buttoncolor: #000;
    --pf1alt-panel-bg: rgb(189 189 189 / 30%);
    --pf1alt-header-bg: rgb(0 0 0 / 80%);
    --pf1alt-item-name-hover-color: #4c62e1;
    --pf1alt-font-color: #000;
    --pf1alt-font-color-muted: rgb(0 0 0 / 75%);
    --pf1alt-xpbar-color: #afebff;
    --pf1alt-header-border-color: rgb(127 127 127);
    --pf1alt-default-font-color: #191813;
    --pf1alt-default-border-color: #b5b3a4;
    --pf1alt-buttonbg-active: rgba(0, 0, 0, 0.45);
    --pf1alt-tag-color: rgb(185 185 185 / 80%);
    --pf1alt-condition-active: rgb(138 138 138 / 50%);
    --pf1alt-checkbox-color: #666;
    --pf1alt-disabled-input-color: #4b4a44;
    --pf1alt-label-list-color: #4b4a44;
    --pf1alt-charname-color: #193f48;
    --pf1alt-rollable-header-hover-color: #01bfff;
    --pf1alt-summary-bg: rgb(0 0 0 / 10%);
  }

  &.theme-pathfinder,
  .theme-pathfinder {
    --pf1alt-attribute-header-bg: rgb(69 46 2 / 83%);
    --pf1alt-attribute-header-color: #dbca62;
    --pf1alt-attribute-content-bg: #a390477a;
    --pf1alt-rollable-color: #5c9bab;
    --pf1alt-rollable-control-color: #306b79cc;
    --pf1alt-rollable-control-color-disabled: #2c606d38;
    --pf1alt-rollable-color-disabled: #2c606d38;
    --pf1alt-rollable-hover-color: #2c606d;
    --pf1alt-input-color: #2c606d;
    --pf1alt-hover-shadow: #ed0000;
    --pf1alt-border-color: #a19b56;
    --pf1alt-select-option-color: #a19b56;
    --pf1alt-img-border-color-inverted: #4c62e1;
    --pf1alt-line-shading-odd: rgb(107 17 1 / 25%);
    --pf1alt-line-shading-even: rgb(171 146 77 / 44%);
    --pf1alt-gradient-shade1: rgba(255, 255, 255, 0.3);
    --pf1alt-gradient-shade2: rgb(206 187 121 / 86%);
    --pf1alt-filter-border-color: #8a8983;
    --pf1alt-item-header-bg: rgb(186 158 63 / 65%);
    --pf1alt-nav-border-color: #75514b;
    --pf1alt-nav-border-active-color: #44191a;
    --pf1alt-nav-hover-shade: rgb(107 17 1 / 80%);
    --pf1alt-nav-active-shade: rgba(107, 72, 4, 0.35);
    --pf1alt-encumbered-bg: #44191a;
    --pf1alt-encumbered-border-color: #be4a4c;
    --pf1alt-encumbrance-bar-bg: #6c8aa5;
    --pf1alt-encumbrance-bar-border-color: #cde4ff;
    --pf1alt-negative-skill-mod: #44191a;
    --pf1alt-buttonbg: rgb(107 17 1 / 80%);
    --pf1alt-buttoncolor: #dbca62;
    --pf1alt-panel-bg: rgba(255, 255, 255, 0.15);
    --pf1alt-header-bg: rgb(107 17 1 / 80%);
    --pf1alt-item-name-hover-color: #4c62e1;
    --pf1alt-font-color: rgb(79 41 0);
    --pf1alt-font-color-muted: rgb(79 41 0 / 75%);
    --pf1alt-xpbar-color: #afebff;
    --pf1alt-header-border-color: #782e22;
    --pf1alt-default-font-color: #191813;
    --pf1alt-default-border-color: #b5b3a4;
    --pf1alt-buttonbg-active: rgb(114 7 7 / 45%);
    --pf1alt-tag-color: rgb(163 144 71 / 80%);
    --pf1alt-condition-active: rgb(139 117 39 / 50%);
    --pf1alt-checkbox-color: rgb(125 102 0 / 75%);
    --pf1alt-disabled-input-color: #4b4a44;
    --pf1alt-label-list-color: #4b4a44;
    --pf1alt-charname-color: #193f48;
    --pf1alt-rollable-header-hover-color: #afebff;
    --pf1alt-summary-bg: rgb(255 255 255 / 20%);
  }

  &.theme-riseotrl,
  .theme-riseotrl {
    --pf1alt-attribute-header-bg: #3d0800;
    --pf1alt-attribute-header-color: #dddbc4;
    --pf1alt-attribute-content-bg: #d1b59d;
    --pf1alt-rollable-color: #cf6009;
    --pf1alt-rollable-control-color: #583f1ccc;
    --pf1alt-rollable-control-color-disabled: #2c606d38;
    --pf1alt-rollable-color-disabled: #2c606d38;
    --pf1alt-rollable-hover-color: #af4e24;
    --pf1alt-input-color: #0a4a5a;
    --pf1alt-hover-shadow: #ed8700;
    --pf1alt-border-color: #a19b56;
    --pf1alt-select-option-color: #d0a491;
    --pf1alt-img-border-color-inverted: #4c62e1;
    --pf1alt-line-shading-odd: rgb(168 74 58 / 25%);
    --pf1alt-line-shading-even: rgb(199 170 92 / 49%);
    --pf1alt-gradient-shade1: rgb(116 112 112 / 30%);
    --pf1alt-gradient-shade2: #f3e6c5;
    --pf1alt-filter-border-color: #8a8983;
    --pf1alt-item-header-bg: rgb(218 201 143 / 65%);
    --pf1alt-nav-border-color: #75514b;
    --pf1alt-nav-border-active-color: #44191a;
    --pf1alt-nav-hover-shade: rgb(107 17 1 / 80%);
    --pf1alt-nav-active-shade: rgba(107, 72, 4, 0.35);
    --pf1alt-encumbered-bg: #44191a;
    --pf1alt-encumbered-border-color: #be4a4c;
    --pf1alt-encumbrance-bar-bg: #6c8aa5;
    --pf1alt-encumbrance-bar-border-color: #cde4ff;
    --pf1alt-negative-skill-mod: #44191a;
    --pf1alt-buttonbg: rgb(61 8 0);
    --pf1alt-buttoncolor: #dddbc4;
    --pf1alt-panel-bg: #d5ba9f;
    --pf1alt-header-bg: rgb(107 17 1 / 80%);
    --pf1alt-item-name-hover-color: #4c62e1;
    --pf1alt-font-color: #6a3510;
    --pf1alt-font-color-muted: rgb(86 46 3 / 75%);
    --pf1alt-xpbar-color: #afebff;
    --pf1alt-header-border-color: #782e22;
    --pf1alt-default-font-color: #885a3a;
    --pf1alt-default-border-color: #753b01;
    --pf1alt-buttonbg-active: rgb(61 8 0 / 60%);
    --pf1alt-tag-color: rgb(212 125 102 / 80%);
    --pf1alt-condition-active: rgb(139 117 39 / 50%);
    --pf1alt-checkbox-color: #666;
    --pf1alt-disabled-input-color: #4b4a44;
    --pf1alt-label-list-color: #4b4a44;
    --pf1alt-charname-color: #193f48;
    --pf1alt-rollable-header-hover-color: #afebff;
    --pf1alt-summary-bg: rgb(255 255 255 / 20%);
  }

  * {
    scrollbar-color: var(--pf1alt-header-bg) var(--color-scrollbar-track);
  }

  span,
  .attribute-value {
    color: var(--pf1alt-font-color);
  }

  textarea {
    color: var(--pf1alt-font-color);
    font-family: var(--pf1alt-simple-text-font);
  }

  .tabs>* {
    flex: 1 1 auto;
  }

  .item-list-search {
    display: flex;
    flex-wrap: nowrap;
    max-height: 1.8em;
    max-width: 120px;

    .search-input {
      border: 1px solid var(--pf1alt-font-color-muted);
      background-color: var(--pf1alt-panel-bg);
      max-width: 120px;
    }

    ~.clear-search {
      margin-left: -1.45em;
      margin-right: 0.1em;
      margin-top: 1px;
      color: var(--pf1alt-font-color-muted);
      align-self: center;
      padding: 2px;
    }
  }

  li {
    align-items: center;
  }

  .window-content {
    background:
      linear-gradient(var(--pf1alt-gradient-shade2) 25%, var(--pf1alt-gradient-shade1) 150%),
      url(../../../ui/parchment.jpg) repeat;
    font-size: var(--font-size-13);
    color: var(--pf1alt-default-font-color);
  }

  input[type="text"],
  select {
    border: 1px solid var(--pf1alt-font-color-muted);
    background: var(--pf1alt-panel-bg);
    color: var(--pf1alt-default-font-color);

    option {
      background-color: var(--pf1alt-select-option-color);
    }
  }

  input[type="text"]:hover,
  input[type="text"]:focus {
    border: 1px solid #111;
    box-shadow: 0 0 8px var(--pf1alt-hover-shadow);
  }

  input[type="number"] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 24px;
    padding: 1px 3px;
    margin: 0;
    color: var(--pf1alt-default-font-color);
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: var(--pf1alt-panel-bg);

    &:disabled {
      background-color: var(--pf1alt-select-option-color);
    }

    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px var(--pf1alt-hover-shadow);
    }
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    color: var(--pf1alt-disabled-input-color);
  }

  input:disabled:hover,
  select:disabled:hover,
  textarea:disabled:hover,
  input:disabled:focus,
  select:disabled:focus,
  textarea:disabled:focus {
    box-shadow: none !important;
  }

  input[type="text"]:hover,
  input[type="search"]:hover,
  input:hover,
  input:active,
  input:focus,
  span.text-box:hover,
  select:not(disabled):hover,
  select:not(disabled):active,
  select:not(disabled):focus {
    border: 1px solid var(--pf1alt-input-color) !important;
    box-shadow: 0 0 8px #4d8d9d;
  }

  button {
    background: var(--pf1alt-buttonbg);
    color: var(--pf1alt-buttoncolor);
    border: 2px groove var(--pf1alt-border-color);

    &:active {
      background: var(--pf1alt-buttonbg-active);
    }
  }

  label.checkbox {
    flex: auto;
    margin: 0;
    line-height: 20px;
    font-size: var(--font-size-13);

    input[type="checkbox"] {
      height: auto;
      margin: 0px 5px 0px;
      vertical-align: top;
      accent-color: var(--pf1alt-checkbox-color);
    }
  }

  /* ----------------------------------------- */
  /*  Form Groups                              */
  /* ----------------------------------------- */
  .form-group {
    flex: 0 0 24px;

    label {
      flex: 2;
      color: var(--pf1alt-label-list-color);
      font-weight: bold;
      white-space: nowrap;
    }

    span {
      flex: 0 0 1px;
    }

    &.stacked {
      .flexrow .half {
        flex: 0 0 50%;
      }

      label {
        flex: 0 0 100%;
        color: var(--pf1alt-font-color);

        &.checkbox {
          flex: auto;
          text-align: left;
        }
      }

      .data-selector {
        flex: 1;

        label {
          font-weight: normal;
          flex: 1;
        }
      }
    }
  }

  .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: var(--font-size-12);
    line-height: 16px;
    border: 1px solid var(--pf1alt-tag-color);
    border-radius: 3px;
    background: var(--pf1alt-tag-color);
    /* font-family: var(--pf1alt-simple-text-font); */
    font-family: var(--pf1alt-sheet-section-font);
    font-weight: bold;
  }

  span.text-box:empty:before {
    content: "\a0";
  }

  .type-color {
    --primary: #fff;
    --secondary: #c1c1c1;
    --foreground: black;

    &.type-buff {
      --primary: #fdf767;
      --secondary: #fdf203;
      --foreground: black;
    }

    &.type-feat {
      --primary: #8900ea;
      --secondary: #5f00a3;
      --foreground: white;
    }

    &.type-spell {
      --primary: #5c37ff;
      --secondary: #4026b2;
      --foreground: white;
    }

    &.type-class {
      --primary: #85b1d2;
      --secondary: #6a8da8;
      --foreground: black;
    }

    &.type-race {
      --primary: #00bd29;
      --secondary: #00841c;
      --foreground: black;
    }

    &.type-attack {
      --primary: #f21b1b;
      --secondary: #a91212;
      --foreground: white;
    }

    &.type-weapon,
    &.type-equipment,
    &.type-consumable,
    &.type-loot {
      --primary: #e5e5e5;
      --secondary: #b7b7b7;
      --foreground: black;
    }

    &.defenses {
      --foreground: black;
    }

    &.card-header {
      color: var(--foreground);
      background-image: linear-gradient(to right, var(--primary), var(--secondary));

      .item-name {
        color: var(--foreground);
      }
    }
  }
}

/* ----------------------------------------- */
/*  Sheet                                    */
/* ----------------------------------------- */
.pf1alt.sheet {
  select {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }

  .icon-pf {
    background-color: var(--pf1alt-font-color-muted);
  }

  .icon-pf.large {
    width: 24px;
    height: 24px;
  }

  .race-info.type3 {
    background: rgba(0, 0, 255, 0.1);
  }

  .race-info.tag {
    font-size: var(--font-size-14);
    font-variant: normal;
    font-weight: bold;
    font-family: var(--pf1alt-sheet-header-font);
    color: var(--pf1alt-font-color);
  }

  .ability-damaged {
    color: #ac3638 !important;
  }

  div.settings {
    flex: 2;
  }

  span.cr-input,
  input.cr-input {
    flex: 0 0 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .action.roll {
    justify-self: center;
    display: inline-flex;
  }

  .action.roll>i {
    font-size: var(--font-size-16);
  }

  .action.roll>i:hover {
    animation: dice-spin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
    color: var(--pf1-color-text-hover);
  }

  span.text-box {
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: black;
    min-width: 20px;
    width: calc(100% - 2px);
    padding: 1px 3px;
    cursor: text;
    min-height: 20px;

    background-color: var(--pf1alt-panel-bg);

    &:disabled {
      background-color: var(--pf1alt-select-option-color);
    }
  }

  .window-content {
    overflow-y: hidden;
    padding: 0px;
    background: url(../../../ui/parchment.jpg) repeat;
    font-size: var(--font-size-13);
    color: var(--pf1alt-default-font-color);
  }

  .window-content form {
    height: 100%;
    overflow: hidden;
  }

  .window-content .tab {
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
    background:
      linear-gradient(var(--pf1alt-gradient-shade2) 0%, var(--pf1alt-gradient-shade1) 300%),
      url(../../../ui/parchment.jpg) repeat;
  }

  input[type="text"],
  textarea {
    background: none;
    border: 1px solid transparent;
    background-color: var(--pf1alt-panel-bg);

    &:disabled {
      background-color: var(--pf1alt-select-option-color);
    }
  }

  input[type="text"]:hover,
  textarea:hover,
  input[type="text"]:focus,
  textarea:focus {
    border: 1px solid #111;
  }

  select {
    flex: 1;
    font-size: var(--font-size-12);
    height: 22px;
    background-color: var(--pf1alt-panel-bg);

    &:disabled {
      background-color: var(--pf1alt-select-option-color);
    }
  }

  .editable .rollable:hover {
    color: var(--pf1alt-rollable-hover-color);
    text-shadow: 0 0 10px var(--pf1alt-hover-shadow);
    cursor: pointer;
  }

  .editor {
    height: 100%;
  }

  .editor .tox-toolbar-overlord,
  .editor .tox-toolbar__primary {
    background: none;
  }

  /* ----------------------------------------- */
  /*  Navigation and Filters                   */
  /* ----------------------------------------- */
  .sheet-navigation {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-family: var(--pf1alt-sheet-nav-font);
    font-variant: small-caps;
    font-size: var(--font-size-24);

    .item {
      height: 30px;
      line-height: 2rem;
      margin: 0 2px;
      white-space: nowrap;
      border-bottom: 3px solid var(--pf1alt-nav-border-color);

      &.active {
        border-bottom: 3px solid var(--pf1alt-nav-border-active-color);
      }

      &:hover {
        background: linear-gradient(var(--pf1alt-gradient-shade2), var(--pf1alt-nav-hover-shade));
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        text-shadow: 0 0 4px var(--pf1alt-attribute-header-color);
      }
    }

    &.tabs {
      border-bottom: 2px groove var(--pf1alt-border-color);
    }

    &.subtabs {
      font-size: var(--font-size-18);
    }

    ;
  }

  .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;

    .filter-rule {
      text-align: center;
      font-size: var(--font-size-12);
      margin: 0 6px;
      border-bottom: 3px solid var(--pf1alt-filter-border-color);
      white-space: nowrap;

      &:hover {
        text-shadow: 0 0 4px var(--pf1alt-hover-shadow);
        border-bottom: 3px solid var(--pf1alt-font-color-muted);
      }

      &.active {
        border-bottom: 3px solid var(--pf1alt-nav-border-active-color);
      }
    }
  }

  &.actor {
    .sheet-navigation {
      margin-bottom: 0;
      padding-bottom: 5px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background:
        linear-gradient(var(--pf1alt-gradient-shade1) -50%, var(--pf1alt-gradient-shade2) 75%),
        url(../../../ui/parchment.jpg) repeat;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: rgba(0, 0, 0, 0.2);

      .item {
        &.active {
          color: var(--pf1alt-nav-border-active-color);
          background: linear-gradient(var(--pf1alt-gradient-shade1) -50%, var(--pf1alt-nav-active-shade) 100%);
          border: 1px solid var(--pf1alt-nav-border-color);
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          border-bottom: 3px solid var(--pf1alt-nav-border-active-color);
        }
      }

      &.subtabs {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin: 5px 0px 1px;
      }
    }

    .sheet-warning {
      flex: 0;
      background-color: #ffd14e;
      border: 1px solid #ffbc00;
      padding: 4px;
      position: absolute;
      z-index: 100;
      top: 30px;
      left: 0;
      width: 100%;
      border-top: 0;
      border-radius: 0 0 2px 2px;
    }

    .block-header {
      position: relative;
      border: none;
      display: flex;
      align-items: center;
      color: var(--pf1alt-header-bg);
      font-family: var(--pf1alt-block-header-font);
      font-variant: small-caps;
      margin: 0.25rem;
      font-weight: bold;

      &::after {
        content: "";
        flex: 1;
        margin-left: 0.5rem;
        height: 0px;
        background-color: transparent;
        border-top: 2px groove var(--pf1alt-header-bg);
      }
    }

    h2.block-header {
      flex: 0 0 35px;
      margin-top: 0.5rem;
      font-size: var(--font-size-20);
    }

    h3.block-header {
      flex: 0 0 20px;
      font-size: var(--font-size-18);

      &::before {
        content: "";
        flex: 1;
        height: 0px;
        margin-right: 0.5rem;
        background-color: transparent;
        border-top: 2px groove var(--pf1alt-header-bg);
      }
    }

    .note-editor.small,
    .trait-selector.small,
    .resistance-selector.small,
    .senses-selector.small {
      margin-left: 5px;
      font-size: var(--font-size-12);
    }

    .tab.features,
    .tab.inventory,
    .tab.spellbook {
      overflow-y: hidden;
    }

    .tab.features label.checkbox,
    .tab.inventory label.checkbox,
    .tab.spellbook label.checkbox .tab.spellbook div.radios {
      text-align: left;
      flex: 0;
      margin: 0 0 0 4px;
    }

    .tab.features label.checkbox:first-child,
    .tab.inventory label.checkbox:first-child,
    .tab.spellbook label.checkbox:first-child {
      margin-top: 4px;
    }

    .inventory-filters {
      margin: 0 8px;
      flex: 0 0 20px;

      h3 {
        font-family: var(--pf1alt-sheet-section-font);
        color: var(--pf1alt-label-list-color);
        font-size: var(--font-size-16);
        margin: 0;
        font-variant: small-caps;
        font-weight: bold;
      }
    }

    .item-list-header:is(.disabled, .empty, .destroyed) .item-name h4,
    .item:is(.disabled, .empty, .destroyed) .item-name h4 {
      text-decoration: line-through;
      color: var(--pf1-tan);
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      background: var(--pf1alt-panel-bg);
      border: 2px groove var(--pf1alt-border-color);
      border-radius: 4px;

      .item,
      .fake-item {
        line-height: 1.5rem;
        padding: 0 2px;
        border-bottom: 1px solid #c9c7b8;
        background-color: rgba(155, 155, 155, 0.3);
      }

      .item:last-child,
      .fake-item:last-child {
        border-bottom: none;
      }

      .item:nth-child(2n + 1),
      .fake-item:nth-child(2n + 1) {
        background-color: rgba(210, 210, 210, 0.3);
      }

      .fake-item h3.sublist-empty {
        text-align: center;
        padding: 0.5rem;
        opacity: 0.6;
      }

      .item {
        :is(.item-name, .item-name-ne) {
          cursor: inherit;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--pf1alt-font-color);

          .melded {
            color: var(--pf1alt-label-list-color);
            text-decoration: line-through;
          }

          .item-image {
            flex: 0 0 24px;
            background-size: 24px;
            margin-right: 5px;

            &.class-icon {
              border-radius: 4px;
              flex: 0 0 64px;
              background-size: 64px;
              height: 64px;
              margin-right: 5px;
            }
          }

          h4 {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              color: var(--pf1alt-rollable-hover-color);
              text-shadow: 0 0 4px var(--pf1alt-rollable-color);
            }
          }
        }

        :is(.item-name:hover, .item-name-ne:hover) .item-image {
          background-image: url("/icons/dice/d20black.svg") !important;

          &:hover {
            background-image: url("/icons/svg/d20-black.svg") !important;
          }
        }

        .class-level-box {
          /* opacity: 0.7; */
          color: var(--pf1alt-font-color-muted);
          font-family: var(--pf1alt-ability-score-font);
          font-variant: small-caps;
          font-weight: bold;
        }

        input[type="checkbox"] {
          height: 12px;
        }

        .item-properties {
          margin-top: 3px;
        }

        .item-recharge {
          flex: 0 0 80px;
          text-align: right;
          font-size: var(--font-size-11);
          color: var(--pf1alt-font-color-muted);
        }

        .item-actions>div a {
          display: flex;
          flex: 0 0 16px;
          padding: 0;
          margin-right: 1px;
          height: 16px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .item-list-header {
        margin: 1px 0;
        padding: 0;
        background: var(--pf1alt-item-header-bg);
        border: 2px groove var(--pf1alt-border-color);
        font-weight: bold;
        line-height: 1.5rem;

        h3 {
          margin: 0;
          padding-left: 5px;
          font-size: var(--font-size-13);
          font-weight: bold;
          color: var(--pf1alt-header-bg);
          gap: 0 10px;
        }

        .item-detail>* {
          flex: unset;
          margin-left: auto;
          margin-right: auto;
          color: var(--pf1alt-header-bg);
        }
      }

      .item-detail {
        height: 24px;
        flex: 0 0 80px;
        font-size: var(--font-size-12);
        color: #000;
        text-align: center;
        position: relative;
        border-right: 1px solid var(--pf1alt-header-bg);
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        >* {
          font-family: var(--pf1alt-sheet-header-simple-font);
          flex: 1;
          cursor: inherit;
        }

        span.text-box,
        input.text-box {
          line-height: var(--line-height-20);
          height: 1.5rem;
          width: 100%;
        }

        &.item-actions {
          flex: 0 0 32px;
          padding: 0 1px 0 1px;
          justify-content: center;

          >div {
            flex: 0 0 16px;
          }

          .image-d20 {
            flex: 0 0 20px;
            display: inline-block;
            background-image: url(/icons/dice/d20black.svg);
            background-size: 100%;
            height: 20px;
          }
        }

        &.item-usage {
          flex: 0 0 96px;
          padding: 0 1px 0 1px;
        }

        &.item-type {
          flex: 0 0 96px;
          padding: 0 1px 0 1px;
        }

        &.item-weight {
          flex: 0 0 54px;
          padding: 0 1px 0 1px;
        }

        &.item-identified {
          flex: 0 0 32px;
          padding: 0 1px 0 1px;
        }

        &.item-carried {
          flex: 0 0 32px;
          padding: 0 1px 0 1px;
        }

        &.item-container {
          flex: 0 0 80px;
          padding: 0 1px 0 1px;
        }

        &.item-equipped {
          flex: 0 0 32px;
          padding: 0 1px 0 1px;
        }

        &.item-uses {
          flex: 0 0 64px;
          padding: 0 1px 0 1px;

          span {
            /* font-weight: bold; */
            font-family: var(--pf1alt-simple-text-font);
            font-size: var(--font-size-15);
          }
        }

        &:nth-child(2) {
          border-left: 1px solid var(--pf1alt-header-bg);
        }

        &:last-child {
          border-right: none;
        }
      }

      a.item-control {
        height: 100%;

        &:hover {
          text-shadow: 0 0 4px var(--pf1alt-rollable-color);
          color: var(--pf1alt-rollable-hover-color);
          background: radial-gradient(var(--pf1alt-rollable-color), transparent);
        }
      }

      .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .item-controls {
        flex: 0 0 120px;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        overflow-x: hidden;
        white-space: nowrap;
        justify-content: center;

        >* {
          flex: 1;
          margin: 0 1px;
        }

        a {
          flex: 0 0 16px;
          text-align: center;
          color: var(--pf1alt-rollable-control-color);
        }
      }

      .item-summary,
      .item-class-features {
        flex: 0 0 100%;
        font-size: var(--font-size-12);
        line-height: 16px;
        padding: 0.25em 0.5em;
        border-top: 1px solid #c9c7b8;
      }

      .item-summary {
        .description {
          padding: 0.2rem 0.5rem;
          border-radius: 0.5rem;
          border: 1px solid var(--color-border-light-2);
          background: var(--pf1alt-summary-bg);
        }
      }

      &.borderless {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
      }

      .item-list-header {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }

      .item:nth-child(2n + 1):not(.mythic-path),
      .fake-item:nth-child(2n + 1):not(.mythic-path) {
        background-color: var(--pf1alt-line-shading-odd);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      .item:nth-child(2n):not(.mythic-path),
      .fake-item:nth-child(2n):not(.mythic-path) {
        background-color: var(--pf1alt-line-shading-even);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .rollable.image-d20 {
      flex: 0 0 24px;
      display: inline-block;
      background-image: url(/icons/dice/d20black.svg);
      background-size: 100%;
      height: 24px;
    }

    .editor {
      padding: 0 8px;
    }

    hr {
      margin: 4px 0 4px 0;
    }

    &.character {
      min-width: 820px;
      min-height: 736px;

      div.skill-rank label {
        flex: 0;
        white-space: nowrap;
        margin-right: 10px;
      }

      div.skill-rank li.skill-rank-formula input[type="text"] {
        flex: 1 1 0;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Links                              */
  /* ----------------------------------------- */
  a>i,
  a>i::before {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  a>i:hover {
    /* opacity: 0.5; */
    color: var(--pf1alt-rollable-hover-color);
    text-shadow: 0 0 4px var(--pf1alt-rollable-hover-color);
  }

  a>.icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    &:hover {
      opacity: 0.5;
    }
  }

  h3.block-header::before {
    border-top: 2px solid var(--pf1alt-header-bg) !important;
  }

  h3.block-header::after {
    border-top: 2px solid var(--pf1alt-header-bg) !important;
  }

  h2.block-header::after {
    border-top: 2px solid var(--pf1alt-header-bg);
  }

  h3 {
    border-bottom: unset;
  }

  ul.attributes li.attribute {
    border: none !important;
    background: var(--pf1alt-attribute-content-bg);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }

  h4.box-title.high {
    line-height: 1.5rem;
  }

  input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    height: 24px;

    &:focus {
      border: 1px solid var(--pf1alt-input-color) !important;
      box-shadow: 0 0 8px var(--pf1alt-input-color);
    }
  }

  .rollable {
    color: var(--pf1alt-rollable-color);

    &:hover {
      text-shadow: 0 0 10px var(--pf1alt-rollable-color);
      color: var(--pf1alt-rollable-color);
    }
  }

  .item-controls a {
    color: var(--pf1alt-rollable-control-color);

    &.disabled {
      color: var(--pf1alt-rollable-control-color-disabled) !important;

      &:hover {
        text-shadow: 0 0 0px !important;
        color: var(--pf1alt-rollable-control-color-disabled) !important;
      }
    }

    &:hover {
      text-shadow: 0 0 10px var(--pf1alt-rollable-color) !important;
      color: var(--pf1alt-rollable-control-color) !important;
    }
  }

  .item-list-header .item-detail .icon-pf,
  .item-list .item-detail .icon-pf {
    background-color: rgb(75 75 2 / 62%);
    background-color: var(--pf1alt-header-bg);
    opacity: 0.7;
  }

  .notification-box {
    gap: 0px 5px;
    background-color: rgba(142, 127, 112, 0.6);
    border-radius: 5px;
    border: 1px solid;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;

    label {
      font-size: var(--font-size-10);
      font-weight: bold;
    }

    span.value {
      background-color: rgba(207, 207, 207, 0.8);
      flex: 1;
      padding: 0;
      line-height: 1.4rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left-color: black;
      border-left-width: 1px;
      border-left-style: groove;
      margin-right: -2px;
    }
  }
}

/* ----------------------------------------- */
/*  Sheet Header                             */
/* ----------------------------------------- */
.pf1alt.sheet {
  .sheet-header {
    flex: 0 0 100px;
    font-family: var(--pf1alt-sheet-header-font);
    font-weight: bold;
    font-variant: small-caps;
    font-size: var(--font-size-16);
    align-items: center;
    border-bottom: none;
    margin: 0;
    padding: 4px 4px 0px 4px;
    background:
      linear-gradient(var(--pf1alt-gradient-shade2) 0%, var(--pf1alt-gradient-shade1) 200%),
      url(../../../ui/parchment.jpg) repeat;
    border-radius: 2px;

    input[type="text"], select {
      font-weight: bold;
    }

    select {
      padding: 0;
    }

    span.text-box,
    input[type="number"] {
      font-family: var(--pf1alt-sheet-header-simple-font);
      /* font-weight: normal; */
    }

    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      max-height: 60px;
      margin: 0;
      padding: 0;

      input {
        height: 50px;
        font-size: var(--font-size-32);
        font-family: var(--pf1alt-charname-font);
        color: var(--pf1alt-charname-color);
        margin: 8px 3px;
      }
    }

    .profile {
      position: relative;
    }

    img.profile {
      flex: 0 0 100px;
      width: 100px;
      height: 100px;
      object-fit: contain;
      border: none;
      border-right: 2px groove var(--pf1alt-border-color);
    }

    .summary {
      flex: 0 0 100%;
      height: 60px;
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: none;
      border-top: none;

      li {
        width: 33.33%;
        float: left;
        height: 24px;
        padding: 0 3px;
        line-height: 1.5rem;
        color: var(--pf1alt-label-list-color);
        border: none !important;
        margin-bottom: 4px;

        input {
          vertical-align: top;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }

    .header-details {
      border-left: none !important;

      .attribute {
        border: none !important;
      }
    }

    .attributes input {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.pf1alt.sheet.actor {
  .sheet-header {
    .header-details {
      height: 100%;
      border-left: 2px groove var(--pf1alt-border-color);
    }

    div.profile {
      flex: 0 0 120px;
      max-width: 120px;
      min-height: 120px;
      max-height: 136px;
      overflow: hidden;
      object-fit: contain;
      border: none;
      background-size: cover;
      background-position: center;

      img {
        width: 120px;
        min-height: 120px;
        height: 100%;
        object-fit: contain;
        border: none;
      }
    }

    .charlevel {
      flex: 0 0 120px;
      height: 60px;
      margin: 0;
      padding: 2px;

      .level {
        flex: 8;
        height: 20px;
        font-size: var(--font-size-24);
        line-height: 20px;

        label {
          display: inline;
          font-size: var(--font-size-24);
          text-align: right;
        }

        input {
          display: inline;
          width: 36px;
          font-size: var(--font-size-24);
          text-align: center;
        }

        &.noxp {
          margin-top: 10px;

          >label {
            font-size: var(--font-size-32);
          }

          >input {
            font-size: var(--font-size-32);
            flex: 0 0 40px;
            height: 44px;
          }
        }
      }

      .experience {
        width: 100%;
        height: 22px;
        padding-right: 5px;
        font-size: var(--font-size-16);
        color: var(--pf1alt-label-list-color);
      }
    }
  }

  .attributes input[type="text"] {
    height: 24px;
  }

  .attributes input.temphp {
    width: 48%;
  }

  &.character {
    .sheet-header {
      .charlevel {
        flex: 0 0 240px;
        padding: 0 5px 2px;

        .level {
          height: 28px;
        }

        .experience input[type="text"],
        .experience span.text-box {
          width: 80px;
        }

        .xpbar {
          width: calc(100% - 100px);
          flex: 0 0 8px;
          background: #666;
          border: 1px solid #000;
          border-radius: 3px;

          .bar {
            height: 6px;
            margin: 1px;
            display: block;
            background: var(--pf1alt-xpbar-color);
            border: 1px solid #000;
            border-radius: 2px;
          }
        }
      }

      .race-container {
        flex: 1;
        padding: 0 0 0 4px;
        width: 66.6%;
        height: auto;

        >div:nth-last-of-type(2) {
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;
          align-content: flex-start;

          >span:first {
            font-size: var(--font-size-16);
          }
        }

        .item-controls {
          align-items: flex-start;

          a {
            flex: 0 0 16px;
            font-size: var(--font-size-10);
            text-align: center;
            color: var(--pf1alt-rollable-control-color);
          }
        }

        &.norace {
          padding: 0 0 0 6px;
        }

        .race {
          flex: 0 0 auto;
          background-size: contain;
          line-height: 1.5rem;
          text-align: center;
          vertical-align: baseline;
          margin-right: 4px;
          height: 40px;
          width: 40px;

          &.norace {
            width: 0px;
          }

          &.rollable:hover {
            background-image: url("/icons/svg/d20-black.svg") !important;
          }
        }
      }

      .summary {

        li:nth-last-child(1),
        li:nth-last-child(2) {
          border-bottom: none;
        }
      }

      .summary-classes {
        display: flex;
        flex: 0 0 32px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-left: 3px;

        .summary-class-icon {
          flex: 0 0 32px;
          height: 32px;
          margin-right: unset;
          margin-bottom: 1px;
        }
      }
    }
  }

  .summary li select {
    font-size: var(--font-size-16);
    height: 24px;
    vertical-align: top;
    border-color: rgba(0, 0, 0, 0.2);
    width: calc(100% - 2px);
  }
}

/* ----------------------------------------- */
/*  Sheet Body                               */
/* ----------------------------------------- */
.pf1alt.sheet.actor {
  .form-group label {
    line-height: unset;
  }

  ol.item-list li.item.disabled .item-name h4 {
    text-decoration: line-through;
  }

  .tab-footer {
    flex: 0;
  }

  h4.box-title {
    margin: 0px 0px 0px;
    font-size: var(--font-size-16);
    border-bottom: 1px solid var(--pf1alt-default-border-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--pf1alt-attribute-header-bg);
    color: var(--pf1alt-attribute-header-color);

    &.rollable {
      color: var(--pf1alt-rollable-color);

      &:hover {
        text-shadow: 0 0 10px var(--pf1alt-rollable-header-hover-color);
        color: var(--pf1alt-rollable-color);
      }
    }

    ;
    font-family: var(--pf1alt-sheet-section-font);

    a>i:hover {
      /* opacity: 0.5; */
      color: var(--pf1alt-rollable-color);
      text-shadow: 0 0 4px var(--pf1alt-rollable-hover-color);
    }
  }

  section {
    overflow-y: auto;
  }

  .attributes-root {
    flex: 0 0 30%;
  }

  ul.attributes {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    height: fit-content;

    &.nomargin {
      margin: 0;
    }

    button.rest {
      border-radius: 7px;
      width: 95%;
      margin-left: 2.5%;
      margin-top: 2px;
    }

    li.attribute {
      /*height: 100%;*/
      margin: 0 5px;
      border: 2px groove var(--pf1alt-border-color);
      border-radius: 5px;
      font-family: var(--pf1alt-attribute-font);
      font-weight: bold;
      font-size: var(--font-size-20);
      text-align: center;

      :last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.health {
        height: 73px;
        margin-top: 5px;

        .attribute-value.multiple {
          display: flex;
          justify-content: center;

          .sep {
            margin-left: 2.5%;
          }
        }
      }

      &.ac-details {
        height: 50px;
      }

      &.st-details {
        height: 50px;
      }

      &.speed {
        /* height: 79px; */
      }

      .attribute-name {
        flex: 0 0 18px;
      }

      &.high {
        /*height: 100%;*/
      }

      &.high-mid {
        /*height: 100px;*/
      }

      &.higher {
        /*height: 120px;*/

        .attribute-value.high {
          /*height: 90px;*/
        }
      }

      .attribute-value {
        min-height: 28px;
        line-height: var(--line-height-20);

        &.high {
          height: 50px;
        }

        input {
          display: inline;
          max-width: 80%;
          margin: 0;
          font-size: var(--font-size-13);
          font-weight: bold;
        }

        div.attribute {
          display: inline-block;
          min-width: 24px;
          font-size: var(--font-size-24);
          width: calc(100% - 2px);
          background-color: unset;
        }

        &.multiple {
          div.sep {
            margin-left: 2.5%;
          }

          div.attribute {
            max-width: 40%;
          }

          span.sep {
            display: inline;
            position: relative;
            top: 2px;
            font-size: var(--font-size-28);
            color: #7b7862;
          }

          input {
            max-width: 33%;
          }
        }

        span.large {
          line-height: 40px;
          font-size: 1.8rem;
          font-size: var(--font-size-28);
        }

        /* margin-right: auto; */
        /* margin-left: auto; */
      }

      .attribute-footer {
        flex: 0 0 18px;
        margin-top: -1px;
        line-height: 18px;
        font-family: var(--pf1alt-attribute-font);
        font-size: var(--font-size-12);
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        input {
          font-weight: bold;
          width: 90%;
        }

        select {
          height: 24px;
          width: 90%;
        }

        align-items: center;

        &.empty {
          height: 24px;
        }
      }
    }
  }
}

/* ----------------------------------------- */
/*  Summary/Details Tab                      */
/* ----------------------------------------- */
.pf1alt.sheet {
  .tab.details {
    span.hp-current-input {
      width: 40%;
    }

    span.hp-temp-input,
    input.hp-temp-input {
      width: 42.5% !important;
    }

    span.hp-nonlethal-input,
    input.hp-nonlethal-input {
      width: 42.5% !important;
    }

    .ability-scores-simple,
    .details-attack-simple,
    .details-skills-list,
    .ability-scores .ability {
      border: none !important;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      background: var(--pf1alt-panel-bg);
    }
  }

  &.actor {
    .tab.details {
      .ability-scores-simple .ability-simple.ability {
        border-bottom: 1px solid var(--pf1alt-default-border-color);
        margin: 0 10px;
      }

      .ability-scores-simple div.ability-simple:last-child {
        border-bottom: unset;
      }

      .details-skills-list {
        list-style: none;
        margin: 2px;
        padding: 0;
        overflow-y: auto;
        /* background: rgba(255, 255, 255, 0.2); */
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        .skills-list {
          margin: 0;
          padding: 0;
        }

        .skill-header {
          margin: 2px 0;
          padding: 0;
          background: rgba(0, 0, 0, 0.05);
          border: 2px groove var(--pf1alt-border-color);
          border-right: none;
          border-left: none;
          font-weight: bold;
          line-height: 1.5rem;
          flex: none;

          .skill-name {
            flex: 180px;
          }
        }

        .box-name {
          margin: 0px 0px 2px;
        }

        .skill:nth-child(2n + 1) {
          background-color: rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .skill:nth-child(2n) {
          background-color: var(--pf1alt-line-shading-even);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }

      .details-attack-simple {
        border: 2px groove var(--pf1alt-border-color);
        border-radius: 4px;
        margin: 2px;

        .item-list {
          margin: 0;
          padding: 0;

          .item-list-header {
            border-right: none;
            border-left: none;
          }
        }

        margin-top: 6px;
      }

      .box-name {
        text-align: center;
        flex: none;
        height: 24px;
        line-height: 1.5rem;
        font-size: var(--font-size-18);
        margin: 0px 0px 0px;
        font-family: var(--pf1alt-sheet-section-font);
        font-variant: small-caps;
      }

      .ability-scores-simple {
        border: 2px groove var(--pf1alt-border-color);
        border-radius: 4px;
        flex: 0.55;
        margin: 2px;

        .ability-box-name {
          text-align: center;
          flex: none;
          border-bottom: 1px solid var(--pf1alt-default-border-color);
          height: 24px;
          line-height: 1.5rem;
          font-size: var(--font-size-18);
          margin: 0px 0px 2px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: var(--pf1alt-attribute-header-bg);
          color: var(--pf1alt-attribute-header-color);
          font-family: var(--pf1alt-sheet-section-font);
        }

        .ability-simple {
          height: 40px;
          flex: none;
          text-align: center;
        }

        h4 {
          line-height: 40px;
          font-size: 22px;
          font-family: var(--pf1alt-ability-header-font);
          font-variant: small-caps;

          &.ability-name,
          &.ability-value-text,
          &.ability-mod-text {
            font-weight: bold;
          }

          &.box-title {
            border-bottom: none;
          }

          &.box-ability {
            text-align: center;
            border: 2px groove var(--pf1alt-border-color);
            border-radius: 4px;
            height: 34px;
          }

          &.ability-value-text {
            text-align: center;
            height: 34px;
            font-size: 22px;
            line-height: 40px;
          }

          &.ability-mod-text {
            text-align: center;
            height: 34px;
            line-height: 40px;
            font-size: var(--font-size-18);
            color: var(--pf1alt-font-color-muted);
          }
        }

        .ability-base-simple {
          text-align: center;
          line-height: 30px;
          font-size: 22px;
          font-family: var(--pf1alt-sheet-header-font);
          border: 2px groove var(--pf1alt-border-color);
          border-radius: 4px;
          height: 34px;
          margin: 4px 0;
        }
      }
    }
  }
}

/* ----------------------------------------- */
/*  Attributes Tab                           */
/* ----------------------------------------- */
.pf1alt.sheet.actor .tab.attributes {
  .point-buy-button {
    flex: 0 100px;
    border-radius: 4px;
    height: 30px;
    display: block;
    margin: 0 5px 4px;
    line-height: 30px;
    text-align: center;
    font-size: var(--font-size-12);
    float: right;
    font-family: var(--pf1alt-sheet-header-font);
    font-variant: small-caps;
    font-weight: bold;
  }

  .attribute {
    background-color: var(--pf1alt-attribute-content-bg);
  }

  ul.attributes li.attribute.double {
    flex-grow: 2;
  }

  .attribute-value {
    margin-top: 5px;

    &.scroll {
      overflow-y: scroll;
    }

    .tag:first-child {
      margin-left: 5px;
    }
  }

  .ability-scores {
    flex: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--pf1alt-ability-score-font);
    font-size: var(--font-size-20);
    font-weight: bold;

    .ability {
      height: 120px;
      margin: 0 5px;
      text-align: center;
      border: 2px groove var(--pf1alt-border-color);
      border-radius: 5px;

      /* Hide modifier box on hover */
      input.ability-total {
        height: 30px;
        width: 50px;
        margin: 0 auto;
        line-height: 32px;
        font-size: var(--font-size-24);
      }

      .ability-modifiers {
        height: 24px;
        margin: -4px 0 7px;

        span.ability-mod,
        .ability-base {
          flex: 0 0 32px;
          height: 32px;
          border-top: 2px groove var(--pf1alt-border-color);
        }

        div.ability-center {
          height: 0;
        }

        .ability-base,
        .ability-mod {
          border-left: 2px groove var(--pf1alt-border-color);
          border-bottom: 0;
          border-right: 2px groove var(--pf1alt-border-color);
          margin-right: 0;
          margin-bottom: 0;
          padding: 0;
          line-height: var(--line-height-30);
        }

        ;
        justify-content: space-between;
      }

      .ability-header {
        height: 24px;
        margin: 0;

        input[type="text"].ability-damage {
          flex: 1;
          height: 24px;
          border-bottom: 2px groove var(--pf1alt-border-color);
          border-right: 2px groove var(--pf1alt-border-color);
        }

        input[type="text"].ability-penalty {
          flex: 1;
          height: 24px;
          border-bottom: 2px groove var(--pf1alt-border-color);
        }

        input[type="text"].ability-drain {
          flex: 1;
          height: 24px;
          border-bottom: 2px groove var(--pf1alt-border-color);
          border-left: 2px groove var(--pf1alt-border-color);
        }
      }

      input.ability-total:hover+.ability-modifiers {
        visibility: hidden;
      }

      .ability-damages span {
        font-size: var(--font-size-14);
        color: var(--pf1alt-font-color-muted);
      }

      background-color: var(--pf1alt-attribute-content-bg);
    }
  }

  ul.resistance-list {
    margin: 0 0;
    overflow-y: overlay;
    height: 100%;
  }
}

/* ----------------------------------------- */
/*  Combat Tab                               */
/* ----------------------------------------- */
/* .pf1alt.sheet .tab.attacks {
} */
/* ----------------------------------------- */
/*  Inventory Tab                            */
/* ----------------------------------------- */
.pf1alt.sheet .tab.inventory {
  .currency .convert-currency {
    flex: 0;
    margin-left: 5px;
    line-height: 1.5rem;
  }

  .currency h3 {
    flex: 0 0 180px;
  }
}

.pf1alt.sheet.actor .tab.inventory {
  .encumbrance {
    height: 13px;
    background: var(--pf1alt-font-color-muted);
    margin: 1px 15px 0 1px;
    border: 1px solid var(--pf1alt-default-font-color);
    border-radius: 3px;
    position: relative;
  }

  .encumbrance {
    .encumbrance-bar {
      position: absolute;
      top: 1px;
      left: 1px;
      background: var(--pf1alt-encumbrance-bar-bg);
      height: 9px;
      border: 1px solid var(--pf1alt-encumbrance-bar-border-color);
      border-radius: 2px;

      &.encumbered {
        background: var(--pf1alt-encumbered-bg);
        border: 1px solid var(--pf1alt-encumbered-border-color);

        .arrow-up {
          border-bottom: 4px solid #000;
        }

        .arrow-down {
          border-top: 4px solid #000;
        }
      }
    }

    .encumbrance-label {
      height: 10px;
      padding: 0 5px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: var(--font-size-13);
      line-height: 12px;
      text-align: left;
      color: #eee;
      text-shadow: 0 0 5px #000;
    }

    .encumbrance-value {
      height: 10px;
      padding: 0 5px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: var(--font-size-13);
      line-height: 12px;
      text-align: right;
      color: #eee;
      text-shadow: 0 0 5px #000;
    }

    .encumbrance-breakpoint {
      position: absolute;
      left: 66%;
    }

    .arrow-up {
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #666;
    }

    .arrow-down {
      top: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #666;
    }
  }

  .carry-label,
  .inventory-total-value {
    flex: 0;
  }

  .inventory-filters .currency {
    list-style: none;
    margin: 4px 0 8px;
    padding: 0;
    font-size: var(--font-size-12);

    label {
      flex: 0;
      margin-left: 8px;
      text-align: right;
      line-height: 20px;
      color: var(--pf1alt-font-color-muted);
    }

    input[type="text"],
    span {
      flex: 0 0 64px;
      text-align: center;
      margin-left: 8px;
      padding-top: 4px;
    }
  }

  .carry-bonus {
    >div {
      flex: 1;

      &:last-of-type {
        flex: 2;
        text-align: right;
        margin-right: 12%;
      }
    }

    label {
      flex: 0;
      margin-left: 8px;
      text-align: right;
      line-height: var(--line-height-20);
      color: var(--pf1alt-font-color-muted);
      white-space: nowrap;
    }

    input[type="text"] {
      flex: 0 0 48px;
      text-align: center;
      margin-left: 8px;
      border-bottom: 2px groove var(--pf1alt-border-color);
    }
  }
}

/* ----------------------------------------- */
/*  Features Tab                             */
/* ----------------------------------------- */
.pf1alt.sheet .tab.feats {
  .altsheet-minimize-classes-checkbox {
    width: 15px;
    height: 15px;
  }

  .class-view {
    justify-content: flex-start;

    .class-view-info {
      flex: 0;
      margin-right: 10px;
    }
  }

  h3.block-header.class-features-toggle {
    line-height: 0px;
    margin-top: -3px;
  }
}

.pf1alt.sheet.actor .tab.feats {
  section.feats-body .feats-group .item-detail.item-type {
    flex: 0 0 40px;
  }

  .item-list .item-list .item.mythic-path {
    background-color: #ff640030;
  }

  .feats-class[data-type="class"] {
    .item-feat-level {
      flex: 0 0 60px;
      border-right: 1px solid var(--pf1alt-header-bg);
    }

    .item .item-feat-level {
      /* margin-left: 6px; */
      /* flex: 0 0 60px; */
      margin-right: -2px;
    }
  }

  .issues {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .info-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10%;

      .value {
        margin-left: 20%;
      }
    }
  }
}

/* ----------------------------------------- */
/*  Skills Tab                               */
/* ----------------------------------------- */
.pf1alt.sheet .tab.skills {

  .pf1alt.sheet .skill-mod-total span.negative,
  .pf1alt.sheet .skill-master-mod-total span.negative {
    color: var(--pf1alt-negative-skill-mod);
  }
}

.pf1alt.sheet.actor .tab.skills,
.pf1alt.sheet.actor .tab.details {

  ul.skills-list li.skill.untrained .skill-name,
  ul.skills-list li.sub-skill.untrained .skill-name,
  ol.item-list li.item.disabled .item-name {
    color: rgba(0, 0, 0, 0.6);

    h4 {
      text-decoration: line-through;
    }
  }

  /* ul.skills-list li:is(.skill.untrained, .sub-skill.untrained) .skill-name h4 {
    text-decoration: line-through;
  } */

  div.skill-rank {
    flex: 0;
  }

  ul.skills-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 5px 5px 0;
    padding: 2px 2px 0;
    border: 2px groove var(--pf1alt-border-color);
    border-radius: 3px;

    &.noborder {
      border: none;
    }

    li.skill,
    li.sub-skill {
      height: 28px;
      padding: 3px 0;
      background-color: var(--pf1alt-line-shading-even);

      .controls {
        flex: 0 0 40px;
      }

      .skill-name {
        display: flex;
        flex: 1 0 315px;
        margin: 0;
        font-size: var(--font-size-13);
        align-items: center;

        .controls {
          flex: unset;
        }

        .compendium-icon {
          margin-right: 5px;
          margin-left: 10px;
          width: 12px;
        }

        .image-d20 {
          display: inline-block;
          background-image: url(/icons/dice/d20black.svg);
          background-size: 100%;
          width: 24px;
          height: 24px;
        }

        h4 {
          display: inline-block;
          margin: 0 0 0.25rem;
        }

        input[type="text"] {
          display: inline-block;
          margin: 0;
          height: 24px;
          width: initial;
          padding: 0;
          padding-left: 8px;
        }

        .control {
          display: flex;
          align-items: center;

          .fas {
            display: inline-block;
            text-align: center;
            width: 24px;
          }
        }
      }

      .checkbox {
        flex: 0 0 60px;
        /* vertical-align: text-bottom; */
      }

      .skill-ability {
        flex: 0 0 25px;
        margin: 0 2px;
      }

      .skill-mod {
        flex: 1 0 20px;
      }

      .skill-notes {
        flex: 1 0 160px;
      }

      .skill-rank {
        flex: 0 0 50px;
        margin-right: 10px;
        margin-bottom: 4px;
        text-align: center;
      }

      .skill-mod-total {
        flex: 0 60px;
        margin-right: 12px;
        border: 1px black dashed;
        margin-bottom: 4px;
        text-align: right;
        border-radius: 3px;
        height: 24px;

        .image-d20 {
          margin-top: 1px;
        }

        span {
          border: none;
          margin-bottom: 4px;
          margin-top: 3px;
          margin-right: 4px;
          font-weight: 800;

          &.rollable {
            color: var(--pf1alt-rollable-hover-color);

            &:hover {
              color: var(--pf1alt-rollable-control-color);
            }
          }
        }
      }

      .skill-master-mod-total {
        flex: 0 80px;
        margin-right: 12px;
        border: 1px black dashed;
        margin-bottom: 4px;
        text-align: right;
        border-radius: 3px;
        height: 24px;

        .image-d20 {
          margin-top: 1px;
        }

        span {
          border: none !important;
          margin-bottom: 4px;
          margin-top: 3px;
          margin-right: 4px;
          font-weight: 800;
        }
      }

      .skill-passive {
        flex: 1 0 26px;
        text-align: center;
        color: var(--pf1alt-font-color-muted);
      }

      .skill-details {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        flex: 1 0 55%;
      }
    }

    li.skill:nth-child(2n + 1),
    li.sub-skill:nth-child(2n + 1) {
      background-color: var(--pf1alt-line-shading-odd);
    }

    >.controls.skills {
      display: flex;
      justify-content: center;
    }

    ;
    background: var(--pf1alt-panel-bg);
  }
}

/* ----------------------------------------- */
/*  Buffs Tab                                */
/* ----------------------------------------- */
.pf1alt.sheet .tab.buffs {
  li.condition {
    img {
      width: 26px;
      height: 26px;
      margin-right: 5px;
    }

    a.compendium-entry {
      margin-right: 5px;
      margin-top: 5px;
      flex: 0;
      font-size: var(--font-size-14);
    }

    a.compendium-entry-disabled {
      margin-right: 5px;
      margin-top: 5px;
      flex: 0;
      font-size: var(--font-size-14);
      color: rgba(0, 0, 0, 0);
    }
  }
}

.pf1alt.sheet.actor .tab.buffs {

  .conditions-down,
  .conditions-up {
    margin-left: 5px;
  }

  .conditions {
    margin-bottom: 8px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 2px groove var(--pf1alt-border-color);
    list-style: none;
  }

  li.condition {
    flex: 0;
    align-content: center;
    margin: 2px;
    flex-basis: calc(25% - 4px);
    display: flex;

    label {
      line-height: 20px;
      flex: 0;
      white-space: nowrap;

      span {
        font-size: var(--font-size-12);
      }
    }
  }

  a.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--pf1alt-default-font-color);
    font-family: var(--pf1alt-sheet-section-font);
    font-weight: bold;

    &.active {
      background-color: var(--pf1alt-condition-active);
      border: 1px transparent;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      text-shadow: 0 0 8px var(--pf1alt-hover-shadow);
      flex: 1;

      >img {
        border: 1px var(--pf1alt-border-color) solid;
      }
    }

    &:not(.active)>img {
      filter: invert(88%) sepia(11%) saturate(158%) hue-rotate(13deg) brightness(98%) contrast(93%);
      border-color: var(--pf1alt-img-border-color-inverted);
    }
  }

  .item-list .item-level {
    flex: 0 0 40px;
  }

  .item-list .item-active {
    flex: 0 0 60px;
  }

  .item-list .item-active .checkmark {
    left: 20px;
    top: 2px;
  }
}

/* ----------------------------------------- */
/*  Spellbook Tab                            */
/* ----------------------------------------- */
.pf1alt.sheet .tab.spellbook {
  div.spellcasting-concentration.flexrow {
    margin-right: 10px;
  }
}

.pf1alt.sheet.actor .tab.spellbook {
  .item-list a.item-control.enabled[data-name="data.preparation.spontaneousPrepared"] {
    color: #000;
  }

  .spellbook-group .spell-points-current {
    flex: 0;
    margin-top: 0.5rem;

    span.sep {
      font-size: var(--font-size-12);
    }

    .value,
    .max {
      flex: 0 0 1rem;
    }

    .filler {
      flex: 1 0;
    }

    span.sep {
      text-align: center;
      flex: 0 0 8px;
    }
  }

  .spellbook-group .spell-level-message {
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  .inventory-filters.spellbook-filters {
    flex: 0 0 40px;
  }

  .spell-uses {
    flex: 0 0 90px;
    font-size: var(--font-size-12);
    text-align: center;
    color: var(--pf1alt-font-color-muted);
    display: flex;
    align-items: center;
    justify-content: center;

    input,
    span.sep {
      text-align: center;
    }

    span.sep {
      flex: 0 0 8px;
    }

    input {
      flex: 0 0 24px;
    }
  }

  .spell-slots {
    flex: 0.5;
  }

  .spell-school {
    flex: 0 0 120px;
    font-size: var(--font-size-12);
    color: var(--pf1alt-font-color-muted);
    text-align: center;
  }

  .spell-failure input[type="text"] {
    flex: 1;
  }

  .spell-range {
    flex: 0;
    padding: 4px 0 4px;
    border-top: 2px groove var(--pf1alt-border-color);
    border-bottom: 2px groove var(--pf1alt-border-color);
    margin-bottom: 8px;

    label {
      flex: 1 1 48px;
      text-align: right;
      margin-right: 8px;
      white-space: nowrap;
    }

    input[type="text"] {
      flex: 1 1 48px;
    }
  }

  .spell-notifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
  }

  .icon-spell-no-charges {
    display: flex;
    height: 16px;
    flex: 0 0 16px;
    padding: 0;
    opacity: 0.3;
    width: 16px;
  }
}

.pf1alt.sheet.actor.character .tab.spellbook .item-controls {
  flex: 0 0 68px;
}

/* ----------------------------------------- */
/*  Biography Tab                            */
/* ----------------------------------------- */
/* .pf1alt.sheet .tab.biography {
} */

/* ----------------------------------------- */
/*  Notes Tab                                */
/* ----------------------------------------- */
/* .pf1alt.sheet .tab.actor-notes {
} */

/* ----------------------------------------- */
/*  Settings Window                          */
/* ----------------------------------------- */
.pf1alt.app .form-group.stacked .flexrow h2 {
  font-size: var(--font-size-24);
  border-bottom: 2px solid var(--pf1alt-header-border-color);
  color: var(--pf1alt-header-bg);
  font-family: var(--pf1alt-sheet-header-font);
  font-variant: small-caps;
  font-weight: bold;
}

.pf1alt.app .form-group.stacked .flexrow h3 {
  font-size: var(--font-size-20);
  border-bottom: 2px solid var(--pf1alt-header-border-color);
  color: var(--pf1alt-header-bg);
  font-family: var(--pf1alt-sheet-header-font);
  font-variant: small-caps;
  font-weight: bold;
}

/* ----------------------------------------- */
/*  Notes Window                             */
/* ----------------------------------------- */

.pf1alt.sheet.actor {
  min-width: 900px;

  &.character {
    min-width: 900px;
  }

  .sidebar {
    .sheet-header {
      flex-direction: column;
      /* width: 25%; */
      flex: 0.05 0 150px;
      background:
        linear-gradient(var(--pf1alt-gradient-shade2) 0%, var(--pf1alt-gradient-shade1) 350%),
        url(../../../ui/parchment.jpg) repeat;

      .header-details {
        flex: 0 0 55%;

        &>.flexrow {
          flex: 0;
          margin-bottom: 20px;
        }
      }

      .profile {
        display: flex;
        flex-direction: row;
        overflow: unset;
        max-width: unset;
      }

      .summary li {
        width: 100%;
        float: none;
      }

      .summary-classes {
        flex-direction: row;
        width: 100%;
      }

      & .charlevel {
        flex: 0 0 70px;

        .xpbar {
          width: 95%;
          margin-top: 5px;
        }
      }

      & h1 input {
        height: 30px;
        font-size: var(--font-size-18);
        text-overflow: ellipsis;
      }
    }

    .sidebar-body {
      height: 100%;
      width: 75%;

      .sheet-navigation {
        font-size: var(--font-size-18);
      }

      .primary-body {
        height: 95%;

        .tab.attacks {
          .attribute-value {
            height: 48px;
          }
        }

        .tab.details,
        .tab.skills {
          .skill-name {
            flex: 1 0 225px;
          }
        }
      }
    }
  }
}