<div class="attributes-body" style="overflow-y: scroll;">
  <div class="flexrow">
    <h2 class="block-header" style="flex: 1">{{localize "PF1AS.AbilityScores"}}</h2>
    <button type="button" class="btn point-buy point-buy-button blue-button pointbuy-calculator">{{localize "PF1AS.PointBuy"}}</button>
  </div>
  {{!-- Ability Scores --}}
  <ul class="ability-scores flexrow">
    {{#each system.abilities as |ability id|}}
    <li class="ability" data-ability="{{id}}" data-tooltip-extended="abilityScore.{{id}}">
      <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
      <span class="ability-score">
        {{ability.totalLabel}}
      </span>
      <div class="ability-modifiers flexrow">
        <span class="ability-mod {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        <span class="text-box direct ability-base" name="system.abilities.{{id}}.value" data-dtype="String">{{ability.value}}</span>
      </div>
      <div class="ability-footer flexcol">
        <div class="flexrow">
          <input class="ability-damage allow-relative" name="system.abilities.{{id}}.damage" type="text" data-tooltip="{{localize "PF1.Damage"}}" value="{{ability.damage}}" data-dtype="Number" />
          <input class="ability-penalty allow-relative" name="system.abilities.{{id}}.userPenalty" type="text" data-tooltip="{{localize "PF1.Penalty"}}" value="{{ability.userPenalty}}" data-dtype="Number" />
          <input class="ability-drain allow-relative" name="system.abilities.{{id}}.drain" type="text" data-tooltip="{{localize "PF1.Drain"}}" value="{{ability.drain}}" data-dtype="Number" />
        </div>
        <!-- with foundry 0.8.x, null should be correct again in rolldata so we can move the labels back as placeholder="" in the input -->
        <div class="ability-damages flexrow">
          <span>{{localize "PF1AS.AbilityDamage"}}</span>
          <span>{{localize "PF1AS.AbilityPenalty"}}</span>
          <span>{{localize "PF1AS.AbilityDrain"}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <h2 class="block-header">{{localize "PF1AS.SpeedAndMovement"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="speed.land">
        <h4 class="attribute-name box-title">{{ localize "PF1.Movement.Mode.land" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.land.total}}
              {{convertDistance system.attributes.speed.land.total}} {{units.distance.tactical}}
            {{/if}}
          </div>
        </div>
        <footer class="attribute-footer">
          <input class="select-on-click" style="width: 80%;" name="system.attributes.speed.land.base" type="text" value="{{system.attributes.speed.land.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="speed.climb">
          <h4 class="attribute-name box-title">{{ localize "PF1.Movement.Mode.climb" }}</h4>
          <div class="attribute-value">
            <div class="attribute">
              {{#if system.attributes.speed.climb.total}}
                {{convertDistance system.attributes.speed.climb.total}} {{units.distance.tactical}}
              {{/if}}
            </div>
          </div>
          <footer class="attribute-footer">
            <input class="select-on-click" style="width: 80%;" name="system.attributes.speed.climb.base" type="text" value="{{system.attributes.speed.climb.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
          </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="speed.swim">
        <h4 class="attribute-name box-title">{{ localize "PF1.Movement.Mode.swim" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.swim.total}}
              {{convertDistance system.attributes.speed.swim.total}} {{units.distance.tactical}}
            {{/if}}
          </div>
        </div>
        <footer class="attribute-footer">
          <input class="select-on-click" style="width: 80%;" name="system.attributes.speed.swim.base" type="text" value="{{system.attributes.speed.swim.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="speed.burrow">
        <h4 class="attribute-name box-title">{{ localize "PF1.Movement.Mode.burrow" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if system.attributes.speed.burrow.total}}
              {{convertDistance system.attributes.speed.burrow.total}} {{units.distance.tactical}}
            {{/if}}
          </div>
        </div>
        <footer class="attribute-footer">
          <input class="select-on-click" style="width: 80%;" name="system.attributes.speed.burrow.base" type="text" value="{{system.attributes.speed.burrow.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="speed.fly">
        <h4 class="attribute-name box-title">{{ localize "PF1.Movement.Mode.fly" }}</h4>
        <div class="attribute-value">
            <div class="attribute">
              {{#if system.attributes.speed.fly.total}}
                {{convertDistance system.attributes.speed.fly.total}} {{units.distance.tactical}}
              {{/if}}
            </div>
        </div>
        <footer class="attribute-footer">
            <input class="select-on-click" style="width: 80%;" name="system.attributes.speed.fly.base" type="text" value="{{system.attributes.speed.fly.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed" data-tooltip-extended="flyManeuverability">
        <h4 class="attribute-name box-title">{{ localize "PF1.Movement.FlyManeuverability.Abbr" }}</h4>
        <div class="attribute-value">
          <div class="attribute">

          </div>
        </div>
        <footer class="attribute-footer">
          <select name="system.attributes.speed.fly.maneuverability">
            {{selectOptions config.flyManeuverabilities selected=system.attributes.speed.fly.maneuverability}}
          </select>
        </footer>
      </div>
    </li>
  </ul>
  <h2 class="block-header" style="flex: 1">{{localize "PF1AS.SpecialQualities"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute size high" data-attribute="size" data-tooltip-extended="size">
      <h4 class="attribute-name box-title">{{localize "PF1.Size"}}</h4>
      <div class="attribute-value">
        <select class="actor-size" name="system.traits.size" style="width: 90%">
          {{selectOptions config.actorSizes selected=system.traits.size.base}}
        </select>
      </div>
      <div class="attribute-footer" data-tooltip-extended="stature">
        <select class="actor-stature" name="system.traits.stature">
          {{selectOptions config.actorStatures selected=system.traits.stature}}
        </select>
      </div>
    </li>
    <li class="attribute nac high tooltip" data-attribute="nac">
      <h4 class="attribute-name box-title">{{localize "PF1.NaturalArmor"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{system.ac.natural.total}}</div>
      </div>
      <div class="attribute-footer">
        <input class="select-on-click" name="system.attributes.naturalAC" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if system.attributes.naturalAC}}{{system.attributes.naturalAC}}{{/if}}"/>
      </div>
    </li>
    <li class="attribute sr high" data-attribute="sr" data-tooltip-extended="sr">
      <h4 class="attribute-name box-title">{{localize "PF1.SpellResistance"}} <a class="note-editor small" title="{{localize "PF1.SpellResistanceNotes"}}" for="system.attributes.srNotes" data-tooltip="{{localize "PF1.SpellResistanceNotes"}}"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value">
        <div class="attribute">{{system.attributes.sr.total}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="system.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if system.attributes.sr.formula}}{{system.attributes.sr.formula}}{{/if}}"/>
      </footer>
    </li>
    <li class="attribute negLevels high" data-tooltip-extended="negativeLevels">
      <h4 class="attribute-name box-title">{{localize "PF1.LevelDrain"}}</h4>
      <div class="attribute-value">
        <span>{{#if (isPositive system.attributes.energyDrain)}}{{system.attributes.energyDrain}}{{else}}0{{/if}} {{localize "PF1AS.Levels"}}</span>
      </div>
      <div class="attribute-footer">
        <input class="select-on-click" type="text" name="system.attributes.energyDrain" value="{{system.attributes.energyDrain}}" placeholder="0" data-dtype="Number" />
      </div>
    </li>
    {{#with implants}}
    <li class="attribute implants high" data-tooltip-extended="implants">
      <h4 class="attribute-name box-title">{{localize "PF1.Cybertech.Implantation"}}</h4>
      <div class="attribute-value">{{load}} / {{max}}</siv>
      <div class="attribute-footer empty"></div>
    </div>
    {{/with}}
    <li class="attribute acp high" data-attribute="acp" data-tooltip-extended="acp">
      <h4 class="attribute-name box-title">{{localize "PF1.ACP"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{system.attributes.acp.total}}</div>
      </div>
      <div class="attribute-footer empty"></div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute reach" data-tooltip-extended="reach">
      <h4 class="attribute-name box-title">{{localize "PF1.Reach"}}</h4>
      <div class="attribute-value">
        <span class="distance">{{convertDistance system.traits.reach.total.melee}}</span>
        <span class="unit">{{units.distance.tactical}}</span>
      </div>
    </li>
    <li class="attribute fh {{#unless system.traits.fastHealing}}inactive{{/unless}}" data-tooltip-extended="fastHeal">
      <h4 class="attribute-name box-title">{{localize "PF1.FastHealing"}}</h4>
      {{!-- <div class="attribute-value">
        <div class="attribute">{{system.traits.fastHealing}}</div>
      </div> --}}
      <div class="attribute-value">
        <input class="select-on-click" name="system.traits.fastHealing" type="text" placeholder="0" value="{{system.traits.fastHealing}}"/>
      </div>
    </li>

    <li class="attribute reg {{#unless system.traits.regen}}inactive{{/unless}}" data-tooltip-extended="regen">
      <h4 class="attribute-name box-title">{{localize "PF1.Regeneration"}}</h4>
      {{!-- <div class="attribute-value">
        <div class="attribute">{{system.traits.regen}}</div>
      </div> --}}
      <div class="attribute-value">
        <input class="select-on-click" name="system.traits.regen" type="text" placeholder="0" value="{{system.traits.regen}}"/>
      </div>
    </li>
    <li class="attribute age-category" data-tooltip-extended="age-category">
      <h4 class="attribute-name box-title">{{localize "PF1.AgeCategory.Base"}}</h4>
      <div class="attributse-value">
        <select name="system.traits.ageCategory">
          {{selectOptions config.ageCategories selected=system.traits.ageCategory.base labelAttr="label"}}
        </select>
      </div>
    </li>
    <li class="attribute hardness" data-attribute="hardness" data-tooltip-extended="hardness">
      <h4 class="attribute-name box-title">{{localize "PF1.Hardness"}}</h4>
      <div class="attribute-value {{#unless system.traits.hardness}}inactive{{/unless}}" data-tooltip-extended="hardness">
        <input class="select-on-click" type="number" name="system.traits.hardness" value="{{system.traits.hardness}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
    </li>
    <li class="attribute maxdex" data-attribute="maxdex" data-tooltip-extended="max-dex">
      <h4 class="attribute-name box-title">{{localize "PF1.MaxDexShort"}}</h4>
      <div class="attribute-value">
        <span>{{#if system.attributes.maxDexBonus}}{{system.attributes.maxDexBonus}}{{else}}∞{{/if}}</span>
      </div>
    </li>
  </ul>
  <ul class="attributes misc-base flexrow">
    <li class="attribute dr high-mid double {{#unless system.traits.dr}}inactive{{/unless}} data-selector">
      <h4 class="attribute-name box-title" data-tooltip-extended="damageReduction">
        <label for="system.traits.dr.value">{{localize "PF1.DamRed"}}</label>
        <a class="resistance-selector small" data-for="system.traits.dr" data-options="dr" data-fields="{{localize "PF1.Application.DamageResistanceSelector.DamageAmount"}};{{localize "PF1.Application.DamageResistanceSelector.Bypassed"}};{{localize "PF1.Application.DamageResistanceSelector.CombinationType"}};{{localize "PF1.Application.DamageResistanceSelector.Bypassed"}}" data-dtypes="Number;String;Boolean;String"><i class="fas fa-edit"></i></a>
      </h4>
      <div class="attribute-value high" data-tooltip-extended="damageReduction">
        <ul class="resistance-list">
          {{#each dr as |value key|}}
            <li class="tag {{key}}">{{value}}</li>
          {{else}}
            <li class="tag">{{localize "PF1.None"}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="attribute-footer flexrow">
        <div class="{{system.traits.di.cssClass}}" data-tooltip-extended="damageImmunity">
          <label for="system.traits.di" style="margin-right: 7px">{{localize "PF1.DamImm"}}</label>
          <a class="trait-selector" data-for="system.traits.di" data-options="damageTypes" data-resist="true"><i class="fas fa-edit"></i></a>
        </div>
        <div class="{{system.traits.dv.cssClass}}" data-tooltip-extended="damageVulnerability">
          <label for="system.traits.dv" style="margin-right: 7px">{{localize "PF1.DamVuln"}}</label>
          <a class="trait-selector" data-for="system.traits.dv" data-options="damageTypes"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </li>
    <li class="attribute eres high-mid double {{#unless system.traits.eres}}inactive{{/unless}}" data-tooltip-extended="energyResistance">
      <h4 class="attribute-name box-title">
        <label for="system.traits.eres.value">{{localize "PF1.EnRes"}}</label>
        <a class="resistance-selector small" data-for="system.traits.eres"  data-options="eres" data-fields="{{localize "PF1.Application.DamageResistanceSelector.DamageAmount"}};{{localize "PF1.Application.DamageResistanceSelector.Resisted"}};{{localize "PF1.Application.DamageResistanceSelector.CombinationType"}};{{localize "PF1.Application.DamageResistanceSelector.Resisted"}}" data-dtypes="Number;String;Boolean;String"><i class="fas fa-edit"></i></a>
      </h4>
      <div class="attribute-value high">
        <ul class="resistance-list">
          {{#each eres as |value key|}}
            <li class="tag {{key}}">{{value}}</li>
          {{else}}
            <li class="tag">{{localize "PF1.None"}}</li>
          {{/each}}
        </ul>
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute cres high-mid double">
      <h4 class="attribute-name box-title">{{localize "PF1.ConRes"}}</h4>
      <div class="attribute-value {{#unless system.traits.cres}}inactive{{/unless}}" data-tooltip-extended="conditionResistance">
        <input type="text" name="system.traits.cres" value="{{system.traits.cres}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
      <div class="attribute-footer flexrow">
        <div class="{{system.traits.ci.cssClass}}" data-tooltip-extended="conditionImmunity">
          <label for="system.traits.ci" style="margin-right: 7px">{{localize "PF1.ConImm"}}</label>
          <a class="trait-selector" data-for="system.traits.ci" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </li>
    <li class="attribute senses high-mid double">
      <h4 class="attribute-name box-title">
        <label for="system.traits.senses">{{localize "PF1.Senses"}}</label>
        <a class="senses-selector small">
          <i class="fas fa-edit"></i>
        </a>
      </h4>
      <div class="attribute-value">
        {{#each labels.senses as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute languages higher {{system.traits.languages.cssClass}}" data-tooltip-extended="proficiency.language">
      <h4 class="attribute-name box-title">
        <label for="system.traits.languages">{{localize "PF1.Languages"}}</label>
        <a class="trait-selector small" data-for="system.traits.languages" data-options="languages">
          <i class="fas fa-edit"></i>
        </a>
      </h4>
      <div class="attribute-value scroll high">
        {{#each system.traits.languages.selected as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
    {{#if isCharacter}}
      <li class="attribute weaponprofs higher {{system.traits.weaponProf.cssClass}}" data-tooltip-extended="proficiency.weapon">
        <h4 class="attribute-name box-title">
          <label for="system.traits.weaponProf">{{localize "PF1.Proficiency.Weapon.LabelPlural"}}</label>
          <a class="trait-selector small" data-for="system.traits.weaponProf" data-options="weaponProficiencies">
            <i class="fas fa-edit"></i>
          </a>
        </h4>
        <div class="attribute-value scroll high">
          {{#each system.traits.weaponProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
      <li class="attribute armorprofs higher {{system.traits.armorProf.cssClass}}" data-tooltip-extended="proficiency.armor">
        <h4 class="attribute-name box-title">
          <label for="system.traits.armorProf">{{localize "PF1.Proficiency.Armor.LabelPlural"}}</label>
          <a class="trait-selector small" data-for="system.traits.armorProf" data-options="armorProficiencies">
            <i class="fas fa-edit"></i>
          </a>
        </h4>
        <div class="attribute-value scroll high">
          {{#each system.traits.armorProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
    {{/if}}
  </ul>
  <div class="flexrow" style="height: 10px;"></div>
</div>
