{{!-- Skill Rank Info --}}
<div class="flexcol skill-rank">
  <ol class="form-group">
    <li class="flexrow skill-rank-formula">
      <label>{{localize "PF1.SkillBonusRankFormula"}}</label>
      <input type="text" name="system.details.bonusSkillRankFormula" value="{{system.details.bonusSkillRankFormula}}" placeholder="{{localize "PF1.Formula"}}" style="width: 200px; margin-left: 10px; margin-right: 20px" />
      <div>
        <label>{{localize "PF1.SkillRankPlural"}}</label>
        <span style="margin-right: 10px; margin-left: 10px"  data-tooltip-extended="skills.adventure">
          {{skillRanks.used}} / {{skillRanks.allowed}}{{#if useBGSkills}}<span  data-tooltip-extended="skills.background">&nbsp;&nbsp;&mdash;{{skillRanks.sentToBG}}&ndash;&gt;&nbsp;&nbsp;{{skillRanks.bgUsed}} / {{skillRanks.bgAllowed}}</span>{{/if}}
        </span>
        {{#unless useBGSkills}}
          {{#if (lt skillRanks.allowed skillRanks.used)}}
            <span style="flex: 0 0 25px">
              <i class="fas fa-exclamation-triangle" data-tooltip="{{localize "PF1AS.Skill.TooManyRanks"}}"></i>
            </span>
          {{/if}}
        {{/unless}}
      </div>
      <div data-tooltip-extended="acp">
        <label>{{localize "PF1.ACP"}}</label>
        <span class="value">{{system.attributes.acp.total}}</span>
      </div>
    </li>
  </ol>
</div>

{{#if useBGSkills}}
  <nav class="sheet-navigation tabs" data-group="skillset">
    <a class="item" data-tab="adventure" data-group="skillset">{{localize "PF1.SkillTypeAdventure"}}</a>
    <a class="item" data-tab="background" data-group="skillset">{{localize "PF1.SkillTypeBackground"}}</a>
  </nav>

  <section class="skillset-body">
    {{! Adventure Skills }}
    <div class="tab flexcol" data-group="skillset" data-tab="adventure">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.adventure.skills isBackgroundSkills="false" skillGroup="adventure"}}
    </div>

    {{! Background Skills }}
    <div class="tab flexcol" data-group="skillset" data-tab="background">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.background.skills isBackgroundSkills="true" skillGroup="background"}}
    </div>
  </section>
{{else}}
  <nav class="sheet-navigation tabs" data-group="skillset" style="display: none">
    <a class="item" data-tab="all">{{localize "PF1.AllSkills"}}</a>
  </nav>

  <section class="skillset-body">
    <div class="tab flexcol" data-group="skillset" data-tab="all">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.all.skills isBackgroundSkills="false" skillGroup="adventure"}}
    </div>
  </section>
{{/if}}
