{{!-- Buffs --}}
<div class="flexrow" style="flex-grow: 0;">
  <h2 class="block-header" style="flex: 1;">
    {{localize "PF1.ConditionPlural"}}
    <i class="conditions-down fas fa-angle-double-down"></i>
    <i class="conditions-up fas fa-angle-double-up" style="display: none;"></i>
  </h2>
</div>

<div style="flex: 0;">
  <ol class="flexrow conditions" data-group="buffs" data-tab="conditions">
    {{#each @root.conditions}}
      <li class="condition">
        {{#if compendium}}
        <a class="compendium-entry" data-compendium-entry="{{compendium}}">
          <i class="fas fa-book compendium-icon"></i>
        </a>
        {{else}}
        <a class="compendium-entry-disabled">
          <i class="fas fa-book compendium-icon disabled"></i>
        </a>
        {{/if}}
        <a class="checkbox {{#if active}}active{{/if}}" data-condition-id="{{id}}">
        <img src="{{img}}">
        <span>{{label}}</span>
      </a>
      </li>
    {{/each}}
  </ol>
</div>

{{!-- Buff Navigation --}}
{{> "systems/pf1/templates/actors/parts/actor-item-nav-filters.hbs" category="buffs" sections=sections}}

<section class="buffs-body">
  {{#each sections as |section sid|}}
    {{#unless section._hidden}}
      <div class="inventory-group flexcol">
        <ol class="item-list" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
          <li class="item-list-header item-list-header flexrow buffs-{{sid}}">
            <div class="item-name">
              <h3>{{section.label}}</h3>
            </div>

            <div class="item-detail item-duration">
              <span>{{localize "PF1.Duration"}}</span>
            </div>

            <div class="item-detail item-level">
              <span>{{localize "PF1.Level"}}</span>
            </div>

            {{#if section.interface.actions}}
            <div class="item-detail item-actions">
              <i class="icon-pf icon-gears large" data-tooltip="PF1.ActionPlural"></i>
            </div>
            {{/if}}

            <div class="item-detail item-uses">
              <i class="icon-pf icon-battery-pack" data-tooltip="PF1.ChargePlural"></i>
            </div>

            <div class="item-detail item-active">
              <span>{{localize "PF1.Active"}}</span>
            </div>

            {{#if @root.owner}}
            <div class="item-controls">
              <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                <i class="fas fa-plus"></i>
              </a>
              <a data-action="browse" data-source="{{path}}" data-tooltip="PF1.BrowseItems"><i class="fas fa-folder-plus"></i></a>
            </div>
            {{/if}}
          </li>

          {{#each section.items as |item iid|}}
            <li class="item flexrow" data-item-id="{{item.id}}">
              <div class="item-name flexrow rollable">
                  <div class="item-image" style="background-image: url({{item.img}})" data-tooltip="PF1.DisplayInChat"></div>
                  <h4 class="item-name-text">{{item.name}}</h4>
              </div>

              <div class="item-detail item-duration">
                <span class="">{{#if item.labels.duration}}{{item.labels.duration}}{{/if}}</span>
              </div>

              <div class="item-detail item-level">
                <span class="text-box allow-relative" data-dtype="Number">{{#if item.level}}{{item.level}}{{/if}}</span>
              </div>

              {{#if section.interface.actions}}
                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.UseBuff">
                      <i class="image-d20"></i>
                    </a>
                    {{/if}}
                  </div>
                </div>
              {{/if}}

              <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
                {{#if item.isCharged}}
                <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  {{#unless item.noMaxCharges}}
                  <span class="sep"> / </span>
                  <span class="max">{{item.uses.max}}</span>
                  {{/unless}}
                {{/if}}
              </div>

              <div class="item-detail item-active">
                <input type="checkbox" {{checked item.active}}/>
              </div>

              <div class="item-controls">
                {{#if @root.owner}}
                  <a class="item-control item-edit" data-tooltip="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-duplicate" data-tooltip="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                  <a class="item-control item-delete" data-tooltip="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    {{/unless}}
  {{/each}}
</section>
