{{#*inline "skill"}}
  <li class="skill flexrow{{#if arbitrary}} arbitrary{{/if}}{{#if subSkillId}} sub-skill{{/if}}{{#if untrained}} untrained{{/if}}{{#if compendiumEntry}} compendium{{/if}}" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}">
    <div class="skill-name" data-tooltip-extended="skill.{{key}}">
      <div style="display: flex; justify-content: space-between; flex: 1;">
        {{#if compendiumEntry}}
          <a class="compendium-entry" data-compendium-entry="{{compendiumEntry}}" data-document-type="JournalEntry">
            <i class="fas fa-book compendium-icon"></i><h4>{{#if custom}}{{name}}{{else}}{{label}}{{/if}}</h4>
          </a>
        {{else}}
          <a>
            <i class="compendium-icon"></i><h4>{{#if custom}}{{name}}{{else}}{{label}}{{/if}}</h4>
          </a>
        {{/if}}
      </div>
      <div class="controls" style="margin-right: 8px; display: flex; justify-content: flex-end;">
      </div>
    </div>
    {{#if masterRank}}
      <div class="skill-master-mod-total flexrow skill-roll" data-skill="{{s}}">
        <div class="action rollable image-d20" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}"></div>
        <span class="action rollable {{#if (isNegative masterMod)}}negative{{/if}}" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}">{{numberFormat masterMod decimals=0 sign=true}}</span>
        <span data-tooltip="{{localize "PF1AS.Links.MasterRankPlural"}}">{{masterRank}}</span>
      </div>
    {{/if}}
    <div class="skill-mod-total flexrow skill-roll">
      <div class="action rollable image-d20" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}"></div>
      <span class="action rollable {{#if (isNegative mod)}}negative{{/if}}" data-sub-skill="{{subSkillId}}" data-skill="{{skillId}}">{{numberFormat mod decimals=0 sign=true}}</span>
    </div>
    <div class="skill-details">
      {{#if arbitrary}}
        <a class="control skill-create" style="margin-right: 5px" data-tooltip="{{localize "PF1AS.Skill.AddSkill"}}">
          <i class="fas fa-plus"></i>
        </a>
      {{else}}
        <input type="text" class="skill-rank select-on-click allow-relative" name="system.skills.{{path}}.rank" value="{{#if rank}}{{rank}}{{/if}}" placeholder="{{localize "PF1.Rank"}}" data-min="0" data-step="1" data-dtype="Number" data-tooltip="PF1.SkillRankPlural"/>
        <label class="checkbox skill-cs"  data-tooltip="PF1.CSTooltip">
          <abbr>{{localize "PF1.CS"}}</abbr>
          <input type="checkbox" disabled {{checked cs}}/>
        </label>
        <label class="checkbox skill-acp" data-tooltip="PF1.ACPTooltip">
          <abbr>{{localize "PF1.ACP"}}</abbr>
          <input type="checkbox" name="system.skills.{{path}}.acp" {{checked acp}}/>
        </label>
        <label class="checkbox skill-rt" data-tooltip="PF1.RTTooltip">
          <abbr>{{localize "PF1.RT"}}</abbr>
          <input type="checkbox" name="system.skills.{{path}}.rt" {{checked rt}}/>
        </label>
        <label class="checkbox skill-as" data-tooltip="{{localize "PF1AS.Skill.AlwaysShowTooltip"}}">
          <abbr>{{localize "PF1AS.Skill.AlwaysShow"}}</abbr>
          {{!-- <input type="checkbox" class="altsheet-skill-checkbox" data-altsheet-config-path="skills.{{path}}.as" {{checked (skillAlwaysShown @root s undefined)}}/> --}}
          <input type="checkbox" class="altsheet-skill-checkbox" data-altsheet-config-path="skills.{{path}}.as" {{checked alwaysShown}}/>
        </label>
        <div class="controls">
          {{#if @root.owner}}
            <a class="skill-edit" data-tooltip="PF1.EditSkill"><i class="fas fa-edit"></i></a>
            {{#if custom}}
              <a class="skill-delete" data-tooltip="PF1.DeleteSkill"><i class="fas fa-trash"></i></a>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </li>
  {{#each subSkills}}
  {{~> "skill"}}
  {{/each}}
{{/inline}}

{{!-- Skills --}}
<ul class="skills-list {{skillGroup}}" data-background="{{isBackgroundSkills}}">
  {{#each skillset as |skill s|}}
    {{> "skill"}}
  {{/each}}

  {{! Add new custom skill}}
  <div class="controls skills">
    {{#if owner}}
      <a class="control skill-create" data-tooltip="{{localize "PF1.AddSkill"}}">
        <i class="fas fa-plus"></i> {{localize "PF1AS.Skill.AddSkill"}}
      </a>
    {{/if}}
    
  </div>
</ul>
