<div class="inventory-filters spellbook-configuration">
  <div class="flexrow spellcasting-misc">
    <a class="hide-show" style="flex-grow: 0.05" data-for="spellbook-info_{{bookId}}">
      <i class="fas fa-cogs"></i>
    </a>

    <div class="spellcasting-concentration flexrow" data-drag="concentration" data-tooltip-extended="spellbook.{{bookId}}.concentration">
      <div class="rollable image-d20"></div>
      <label>
        <h3>{{localize "PF1.Concentration"}} <a class="note-editor small" title="{{localize "PF1.ConcentrationNotes"}}" for="system.attributes.spells.spellbooks.{{bookId}}.concentrationNotes" data-tooltip="{{localize "PF1.ConcentrationNotes"}}"><i class="fas fa-edit"></i></a></h3>      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.concentrationFormula" value="{{spellbook.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>

    <div class="spellcasting-cl flexrow" data-drag="cl" data-tooltip-extended="spellbook.{{bookId}}.level">
      <div class="rollable image-d20"></div>
      <label>
        <h3>{{localize "PF1.CasterLevel"}} <a class="note-editor small" title="{{localize "PF1.CasterLevelNotes"}}" for="system.attributes.spells.spellbooks.{{bookId}}.clNotes" data-tooltip="{{localize "PF1.CasterLevelNotes"}}"><i class="fas fa-edit"></i></a></h3>
      </label>
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.formula" value="{{spellbook.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>
  </div>
  
  <div class="hide spellbook-info_{{bookId}} {{#if (lookup hiddenElems (concat "spellbook-info_" bookId))}}hidden{{/if}}">
    <div class="flexrow spellbook-info-box">
      <div class="flexcol">
        <div class="form-group spellcasting-class" data-tooltip-extended="spellbook.{{bookId}}.class">
          <label><h3>{{localize "PF1.SpellcastingClass"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.class" data-dtype="String">
              <option value="">{{localize "PF1.None"}}</option>
              {{selectOptions @root.classList selected=spellbook.classId}}
          </select>
        </div>

        <div class="form-group spellcasting-ability" data-tooltip-extended="spellbook.{{bookId}}.ability">
          <label><h3>{{localize "PF1.SpellcastingAbility"}}</h3></label>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.ability" data-dtype="String">
            {{selectOptions @root.config.abilities selected=spellbook.ability}}
          </select>
        </div>

        <div class="flexrow spell-failure">
          <label><h3>{{localize "PF1.ArcaneSpellFailure"}}</h3></label>
          <span>{{@root.asf.total}} %</span>
        </div>

        <div class="flexrow formulas">
          <label><h3>{{localize "PF1.BaseDCFormula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.baseDCFormula"
          value="{{spellbook.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>

        <div class="flexrow spell-slot-ability-bonus">
          <label><h3>{{localize "PF1.SpellSlotAbilityBonus"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellSlotAbilityBonusFormula"
            value="{{spellbook.spellSlotAbilityBonusFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>

        <div class="flexrow alt-name">
          <label><h3>{{localize "PF1.SpellbookName"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.name"
            value="{{spellbook.name}}" placeholder="{{#if (and spellbook.class (ne spellbook.class "_hd"))}}
            {{~#with (lookup @root.system.classes spellbook.class)}}{{name}}{{/with}}
            {{~else}}{{localize spellbook.label}}{{/if}}" />
        </div>

        <div class="flexrow domain-slot-value">
          <label><h3>{{localize "PF1.DomainSlotValue"}}</h3></label>
          <input type="number" min="0" step="1" data-dtype="Number"
            name="system.attributes.spells.spellbooks.{{bookId}}.domainSlotValue" placeholder="0"
            value="{{spellbook.domainSlotValue}}" data-tooltip="{{localize "PF1.DomainSlotValueDesc"}}" />
        </div>

        {{#if spellbook.spellPoints.useSystem}}
          <div class="flexrow spell-points">
            <h3>{{localize "PF1.SpellPoints"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.maxFormula"
              value="{{spellbook.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" data-tooltip="{{localize "PF1.MaxFormula"}}"/>
          </div>
          <div class="flexrow spell-points-rest">
            <h3>└ {{localize "PF1.RestoredOnRest"}}</h3>
            <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.restoreFormula"
              value="{{spellbook.spellPoints.restoreFormula}}" placeholder="{{localize "PF1.SpellPointsMax"}}" data-tooltip="{{localize "PF1.Formula"}}"/>
          </div>
        {{/if}}

        {{#if spellbook.autoSpellLevelCalculation}}
        <div class="help-text">
        <i class="help-icon fas fa-info-circle"></i> {{localize "PF1.AutoSpellClassLevelOffset.InfoBox"}}
        </div>
        <div class="flexrow">
          <label><h3>{{localize "PF1.AutoSpellClassLevelOffset.Formula"}}</h3></label>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.autoSpellLevelCalculationFormula"
            value="{{spellbook.cl.autoSpellLevelCalculationFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>
        {{/if}}
      </div>

      <div class="flexcol caster-preferences">
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.arcaneSpellFailure"
          {{checked spellbook.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevelCalculation"
          {{checked spellbook.autoSpellLevelCalculation}}/> {{localize "PF1.AutoCalculateSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.psychic"
          {{checked spellbook.psychic}}/> {{localize "PF1.Psychic"}}
        </label>
        {{#unless spellbook.autoSpellLevelCalculation}}
        {{#unless spellbook.spellPoints.useSystem}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spontaneous"
          {{checked spellbook.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        {{/unless}}
        <label class="checkbox" {{#if (not spellbook.autoSpellLevelCalculation)}}data-tooltip="PF1.RequiresAutoSlots"{{/if}}>
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevels"
          {{checked spellbook.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox"  {{#if spellbook.autoSpellLevelCalculation}}data-tooltip="PF1.AutoSlotIncompatible"{{/if}}>
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.useSystem"
          {{disabled spellbook.autoSpellLevelCalculation}}
          {{checked spellbook.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
        {{/unless}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.hasCantrips"
          {{checked spellbook.hasCantrips}}/> {{localize "PF1.HasCantrips"}}
        </label>
        {{#if spellbook.autoSpellLevelCalculation}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prepared" {{checked (eq spellbook.spellPreparationMode "prepared")}} />
            {{localize "PF1.SpellPrepPrepared"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="spontaneous" {{checked (eq spellbook.spellPreparationMode "spontaneous")}} />
            {{localize "PF1.SpellPrepSpontaneous"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="hybrid" {{checked (eq spellbook.spellPreparationMode "hybrid")}} />
            {{localize "PF1.Arcanist"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prestige" {{checked (eq spellbook.spellPreparationMode "prestige")}} />
            {{localize "PF1.RedMantisAssassin"}}
          </label>
        </div>
        {{#unless (or (eq spellbook.spellPreparationMode "hybrid") (eq spellbook.spellPreparationMode "prestige"))}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="low" {{checked (eq spellbook.casterType "low")}} />
            {{localize "PF1.Low"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="med" {{checked (eq spellbook.casterType "med")}} />
            {{localize "PF1.Medium"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="high" {{checked (eq spellbook.casterType "high")}} />
            {{localize "PF1.High"}}
          </label>
        </div>
        {{/unless}}
        {{/if}}
      </div>
    </div>
    <div class="flexrow">
      {{#if spellbook.autoSpellLevelCalculation}}
        <div class="flexcol spell-slots-per-level">
          <label><h3>{{localize "PF1.All"}}</h3></label>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.preparedAllOffsetFormula" value="{{spellbook.preparedAllOffsetFormula}}" placeholder="{{localize "PF1.PreparePerDay"}}" />
            {{#unless (eq spellbook.spellPreparationMode "prepared")}}
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.castPerDayAllOffsetFormula" value="{{spellbook.castPerDayAllOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
            {{/unless}}
          </div>
        </div>
        {{#if spellbook.hasCantrips}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level0"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.preparedOffsetFormula" value="{{spellbook.spells.spell0.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.castPerDayOffsetFormula" value="{{spellbook.spells.spell0.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level1"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.preparedOffsetFormula" value="{{spellbook.spells.spell1.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.castPerDayOffsetFormula" value="{{spellbook.spells.spell1.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level2"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.preparedOffsetFormula" value="{{spellbook.spells.spell2.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.castPerDayOffsetFormula" value="{{spellbook.spells.spell2.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level3"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.preparedOffsetFormula" value="{{spellbook.spells.spell3.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.castPerDayOffsetFormula" value="{{spellbook.spells.spell3.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level4"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.preparedOffsetFormula" value="{{spellbook.spells.spell4.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.castPerDayOffsetFormula" value="{{spellbook.spells.spell4.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{#if (or (eq spellbook.casterType "med") (eq spellbook.casterType "high"))}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level5"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.preparedOffsetFormula" value="{{spellbook.spells.spell5.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.castPerDayOffsetFormula" value="{{spellbook.spells.spell5.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level6"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.preparedOffsetFormula" value="{{spellbook.spells.spell6.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.castPerDayOffsetFormula" value="{{spellbook.spells.spell6.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
        {{#if (eq spellbook.casterType "high")}}
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level7"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.preparedOffsetFormula" value="{{spellbook.spells.spell7.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.castPerDayOffsetFormula" value="{{spellbook.spells.spell7.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level8"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.preparedOffsetFormula" value="{{spellbook.spells.spell8.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.castPerDayOffsetFormula" value="{{spellbook.spells.spell8.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        <div class="flexcol spell-slots-per-level">
          <label>{{localize "PF1AS.Level9"}}</label>
          <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.preparedOffsetFormula" value="{{spellbook.spells.spell9.preparedOffsetFormula}}" placeholder="{{#if (or (eq spellbook.spellPreparationMode "spontaneous") (eq spellbook.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}" />
          {{#unless (eq spellbook.spellPreparationMode "prepared")}}
          <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.castPerDayOffsetFormula" value="{{spellbook.spells.spell9.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.CastPerDay"}}" />
          {{/unless}}
        </div>
        {{/if}}
      {{else}}
        {{#each spellbook.data as |section sid|}}
          <div class="flexcol spell-slots-per-level">
            <label>{{localize (lookup (concat "PF1AS.Level" section.level) "string")}}</label>
            <span class="text-box" data-dtype="Number" name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.base">
            {{#if (hasBaseSpellSlots ../spellbook section.level)}}
              {{section.baseSlots}}
            {{else}}
              -
            {{/if}}
            </span>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="flexrow spell-range">
    <div class="flexrow" data-tooltip-extended="spellbook.{{bookId}}.range.close">
      <label>{{localize "PF1.Distance.close"}}</label>
      <span>{{spellbook.range.close}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
    </div>
    <div class="flexrow" data-tooltip-extended="spellbook.{{bookId}}.range.medium">
      <label>{{localize "PF1.Distance.medium"}}</label>
      <span>{{spellbook.range.medium}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
    </div>
    <div class="flexrow" data-tooltip-extended="spellbook.{{bookId}}.range.long">
      <label>{{localize "PF1.Distance.long"}}</label>
      <span>{{spellbook.range.long}} {{#if (isMetric)}}m{{else}}ft{{/if}}</span>
    </div>
  </div>
</div>

{{!-- Spellbook Navigation --}}
{{> "systems/pf1/templates/actors/parts/actor-item-nav-filters.hbs" category=(concat "spellbook-" bookId) sections=spellbook.sections prepared=true}}

{{#if spellbook.spellPoints.useSystem}}
  <div class="spell-points-current flexrow" data-tooltip-extended="spellbook.{{bookId}}.spellPoints">
    <div class="filler"></div>
    <h3>{{localize "PF1.SpellPoints"}}</h3>
    <div class="value">
      <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.value"
        class="allow-relative" value="{{spellbook.spellPoints.value}}" placeholder="0" data-dtype="Number" />
    </div>
    <span class="sep"> / </span>
    <div class="max">
      <input disabled type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.max"
      value="{{spellbook.spellPoints.max}}" placeholder="0" data-dtype="Number" />
    </div>
    <div class="filler"></div>
  </div>
{{/if}}

<section class="spells_{{bookId}}-body">
  {{#each spellbook.sections as |section sid|}}
    {{#unless section._hidden}}
      <div class="inventory-group flexcol">
        <ol class="item-list" data-list="spell-{{../bookId}}-{{section.level}}" data-type="spell" data-level="{{section.level}}" data-preparation-unused="{{section.preparation.unused}}" {{#if ../spellbook.spontaneous}}data-known-unused="{{section.known.unused}}"{{/if}}>
          <li class="flexrow item-list-header spellbook-header {{#if section.lowAbilityScore}}insufficient-ability-score{{/if}}" data-level="{{section.level}}">
            <div class="item-name flexrow">
              <h3>{{section.label}}</h3>
              <span style="flex: 0 0 25px" data-tooltip-extended="spellbook.{{../bookId}}.concentrationDCs.{{section.level}}">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </span>
            </div>

            {{#unless ../spellbook.spellPoints.useSystem}}
              <div class="item-detail spell-uses">
                {{#if section.usesSlots}}
                  {{#unless (and (eq section.level 0) ../spellbook.autoSpellLevelCalculation)}}
                  <div class="spell-slots{{#if ../spellbook.spontaneous}} spontaneous{{/if}}"
                    data-tooltip="{{#unless ../spellbook.spontaneous}}PF1.LeftToPrepare{{else}}PF1.CastsLeft{{/unless}}">
                    <span class="{{#unless ../spellbook.spontaneous}}spell-input-readonly{{else}}text-box{{/unless}}" data-dtype="Number" {{#if ../spellbook.spontaneous}}name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.value"{{/if}}>
                      {{section.uses}}
                    </span>
                  </div>
                  <span class="sep"> / </span>
                  {{/unless}}
                  <div class="spell-max" data-tooltip="PF1.SpellsTotalEachDay">
                    <span class="base-slots {{#if ../spellbook.autoSpellLevelCalculation}}spell-input-readonly{{else}}text-box{{/if}}" data-dtype="Number" name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.base">{{section.slots.max}}</span>
                    {{#if (gt preparation.domain 0)}}
                      <span class="domain-bonus-slots">{{numberFormat preparation.domain sign=true}}</span>
                    {{/if}}
                  </div>
                {{else}}
                  <span class="spell-slots">{{{section.uses}}}</span>
                  <span class="sep"> / </span>
                  <span class="spell-max">{{{section.slots}}}</span>
                {{/if}}
              </div>
            {{/unless}}

            <div class="item-detail item-actions"><i class="icon-pf icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>

            <div class="item-detail spell-activation"><i class="icon-pf icon-hand large" data-tooltip="{{localize "PF1.Usage"}}"></i></div>

            <div class="item-detail spell-components"><i class="icon-pf icon-expense large" data-tooltip="{{localize "PF1.Components"}}"></i></div>

            <div class="item-detail spell-school"><i class="icon-pf icon-spell-book large" data-tooltip="{{localize "PF1.SpellSchool"}}"></i></div>

            <div class="item-controls">
              {{#if interface.create}}
                <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}" data-level="{{section.level}}" data-book="{{../bookId}}">
                  <i class="fas fa-plus"></i>
                </a>
              {{/if}}
              <a data-action="browse" data-source="spells.spell" data-level="{{section.level}}" data-tooltip="PF1.BrowseSpells"><i class="fas fa-folder-plus"></i></a>
            </div>
          </li>

          {{#each section.items as |item iid|}}
            {{> "spellItem" section=section item=item spontaneous=../../spellbook.spontaneous}}
          {{/each}}
          {{!-- {{#if section.lowAbilityScore}}
            <h4 class="spell-level-message">{{localize "PF1.Spellbook.InsufficientAbility"}}</h4>
          {{/if}}
          {{#if section.spellMessage}}
            <h4 class="spell-level-message">{{section.spellMessage}}</h4>
          {{/if}} --}}

          {{! Spell Level Issues }}
          {{#if hasIssues}}
            <div class="spell-notifications">
            {{#if lowLevel}}
              <div class="notification-box warning">
                <h5>{{localize "PF1.Spellbook.InsufficientLevel"}}</h5>
              </div>
            {{/if}}
            {{#if lowAbilityScore}}
              <div class="notification-box warning">
                <h5>{{localize "PF1.Spellbook.InsufficientAbility"}}</h5>
                <span class="value">{{lookup (lookup @root.system.abilities ../spellbook.ability) 'total'}}</span>
                <span class="label">{{lookup @root.config.abilitiesShort ../spellbook.ability}}</span>
              </div>
            {{/if}}
            {{#if spontaneous}}
              {{#if invalidKnown}}
                <div class="notification-box{{#if (gt known.excess 0)}} warning{{/if}}">
                  <h5>{{localize "PF1.Spellbook.Known"}}</h5>
                  <span class="value">{{numberFormat mismatchKnown sign=true}}</span>
                </div>
              {{/if}}
            {{else}}
              {{! Slot Issues }}
              {{#if invalidSlots}}
                <div class="notification-box{{#if (lt mismatchSlots 0)}} warning{{/if}}">
                  <h5>{{localize "PF1.Spellbook.OpenSlots"}}</h5>
                  <span class="value">
                    {{numberFormat mismatchSlots sign=true}}
                  </span>
                </div>
              {{/if}}
              {{! Available Domain slots }}
              {{#if (gt domain.remaining 0)}}
                <div class="notification-box">
                  <h5>{{localize "PF1.Spellbook.OpenSlots"}}</h5>
                  <span class="value">{{numberFormat domain.remaining sign=true}}</span>
                  <span class="label">
                    {{#if isSchool}}
                    {{localize 'PF1.School'}}
                    {{else}}
                    {{localize 'PF1.Domain'}}
                    {{/if}}
                  </span>
                </div>
              {{/if}}
            {{/if}}
            </div>
          {{/if}}
        </ol>
      </div>
    {{/unless}}
  {{/each}}
</section>

{{#*inline "spellItem"}}
<li class="item flexrow {{#if item.document.canUse}}prepared{{else}}unprepared{{/if}} {{#if item.domain}}domain{{/if}}" data-item-id="{{item.id}}">
  <div class="item-name flexrow rollable">
    <div class="item-image" style="background-image: url({{item.img}})" data-tooltip="PF1.DisplayInChat"></div>
    <h4 class="item-name-text">{{item.name}}</h4>
  </div>

  <div class="item-detail spell-uses flexrow">
    {{#unless item.atWill}}
      {{!-- Domain Marker --}}
      <div>
        {{#if item.domain}}
        <i class="fas fa-hand-sparkles" data-tooltip="{{localize "PF1.Domain"}}/{{localize "PF1.School"}}"></i>
        {{/if}}
      </div>

      {{#unless spontaneous}}
        <div data-tooltip="PF1.Prepared">
          <span class="text-box" data-type="amount" data-dtype="Number">{{item.preparation.value}}</span>
        </div>
        <span class="sep"> / </span>
        <div data-tooltip="PF1.InitiallyPrepared">
          <span class="text-box" data-type="max" data-dtype="Number">{{item.preparation.max}}</span>
        </div>
      {{else}}
        <a class="item-control item-toggle-prepared{{#if item.preparation.value}} enabled{{/if}}" data-name="preparation.value"
          data-tooltip="{{#if item.preparation.value}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
          <i class="{{#if item.preparation.value}}fa-solid{{else}}fa-light{{/if}} fa-circle-check"></i>
        </a>
      {{/unless}}
    {{else}}
      {{localize "PF1.SpellPrepAtWill"}}
    {{/unless}}
  </div>

  <div class="item-detail item-actions">
    <div class="item-action" data-tooltip="{{#if (gt item.preparation.value 0)}}{{localize "PF1.UseSpell"}}{{else}}{{localize "PF1AS.Spells.NoSpellsLeft"}}{{/if}}
{{#if labels.range}}<br>{{labels.range}}{{/if}}
{{#if labels.save}}<br>{{labels.save}}{{/if}}">
      {{#if (or spontaneous item.atWill)}}
        <a class="item-control item-action action roll"><i class="image-d20"></i></a>
      {{else}}
        {{#if (or (isPositive item.preparation.value) (isPositive item.preparation.max))}}
          <a class="item-control item-action action roll"><i class="image-d20"></i></a>
        {{else}}
          <span class="icon-spell-no-charges action roll"><i class="image-d20"></i></span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>

  <div class="item-detail spell-components" data-tooltip-extended="spell.{{item.id}}.material">
    <span>{{labels.components}}</span>
  </div>

  <div class="item-detail spell-school" data-tooltip-extended="spell.{{item.id}}.school">
    <span>{{labels.school}}</span>
  </div>

  {{#if @root.owner}}
    <div class="item-controls">
      <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
      <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
      <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
    </div>
  {{/if}}
</li>
{{/inline}}
