<div class="flexrow">
  {{!-- Ability Scores --}}
  <div class="flexcol" style="flex: 0 420px">
    <div class="flexrow">
      <div class="ability-scores-simple flexcol">
        <h4 class="ability-box-name">
          {{ localize "PF1AS.Abilities" }}
        </h4>
        {{#each system.abilities as |ability id|}}
          <div class="ability-simple flexrow ability" data-ability="{{id}}">
            <h4 class="ability-name rollable">{{ability.labelShort}}</h4>
            <div class="flexrow">
              <span class="ability-score" data-tooltip-extended="abilityScore.{{id}}">
                <h4 class="ability-value-text">{{ability.totalLabel}}</h4>
              </span>
              <h4 class="ability-mod-text {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</h4>
            </div>
          </div>
        {{/each}}
      </div>
      <ul class="attributes nomargin">
        <li>
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </li>
        <li class="attribute health">
          {{#if healthConfig.variants.pc.useWoundsAndVigor}}
            <h4 class="attribute-name box-title" data-tooltip-extended="vigor">
              {{ localize "PF1.Vigor" }}
            </h4>
            <div class="attribute-value multiple">
              <input name="system.attributes.vigor.value" type="text" value="{{system.attributes.vigor.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.vigor.max}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="system.attributes.vigor.temp" type="text" class="temphp" placeholder="{{localize 'PF1.Temporary'}}" value="{{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}" data-dtype="Number"/>
            </footer>
        </li>
        <li class="attribute health">
            <h4 class="attribute-name box-title" data-tooltip-extended="wounds">
              {{ localize "PF1.Wounds" }}
            </h4>
            <div class="attribute-value multiple">
              <input name="system.attributes.wounds.value" type="text" value="{{system.attributes.wounds.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.wounds.max}}</div>
            </div>
          {{else}}
            <h4 class="attribute-name box-title high" data-tooltip-extended="hit-points">
              {{ localize "PF1.Health" }}
            </h4>
            <div class="attribute-value multiple">
              <span class="text-box direct allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
              <span class="sep"> / </span>
              <div class="attribute">{{system.attributes.hp.max}}</div>
            </div>
            <footer class="attribute-footer multiple">
              <span class="text-box direct allow-relative hp-temp-input" name="system.attributes.hp.temp" data-dtype="Number">{{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{else}}{{localize "PF1.TempShort"}}{{/if}}</span>
              <span class="text-box direct allow-relative hp-nonlethal-input" name="system.attributes.hp.nonlethal" data-dtype="Number">{{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{else}}{{localize "PF1.Nonlethal"}}{{/if}}</span>
            </footer>
          {{/if}}
        </li>

        <li>
          <ul class="attributes armor-class  flexrow">
            <li class="attribute initiative" style="height: 50px" data-attribute="init">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
              <div class="attribute-value" data-tooltip-extended="init">
                <span>{{system.attributes.init.total}}</span>
              </div>
            </li>
            <li class="attribute bab" style="height: 50px" data-attribute="bab">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
              <div class="attribute-value" data-tooltip-extended="bab">
                <span>{{system.attributes.bab.total}}</span>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <ul class="attributes armor-class flexrow">
            {{#each system.attributes.ac as |ac id|}}
              <li class="attribute armor-class ac-details" data-armorclass="{{id}}" data-tooltip-extended="ac.{{id}}">
                <h4 class="attribute-name box-title">{{localize ac.labelShort}}</h4>
                <div class="attribute-value">
                  <span>{{numberFormat ac.total decimals=0 sign=false}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>

        <li>
          <ul class="attributes saving-throws flexrow">
            {{#each system.attributes.savingThrows as |savingThrow id|}}
              <li class="attribute saving-throw st-details" data-savingthrow="{{id}}" data-tooltip-extended="save.{{id}}">
                <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
                <div class="attribute-value">
                  <span>{{savingThrow.total}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="details-attack-simple  inventory-group flexcol" data-group="attacks">
      <h4 class="box-name box-title">{{ localize "PF1.QuickActions" }}</h4>
      <ol class="item-list borderless sub-scroll scroll-attacks" style="max-width: 420px">
        <li class="item-list-header flexrow">
          <h3 class="item-name flexrow"></h3>
          <div class="item-detail item-actions"><i class="icon-pf icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
          <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack large" data-tooltip="{{localize "PF1.ChargePlural"}}"></i></div>
        </li>
        <ol class="item-list">
          {{#each quickActions as |i|}}
            <li class="item flexrow" data-item-id="{{i.item.id}}">
              <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('{{i.item.img}}')"></div>
                <h4>
                  {{i.item.name~}}
                </h4>
              </div>

              <div class="item-detail item-actions">
                <div class="item-attack">
                  <a class="item-control item-action action roll"><i class="image-d20"></i></a>
                </div>
              </div>

              <div class="item-detail item-uses flexrow">
                {{#if i.isCharged}}
                  <charges>
                  {{~#if i.recharging~}}
                  <span class='recharge'>+{{i.uses}}</span>
                  {{~else~}}
                  <span class='remaining'>{{i.uses}}</span>
                    {{~#if i.max~}}
                    <span class='delimiter' >/</span ><span class='max'>{{i.max}}</span>
                    {{~/if~}}
                  {{~/if~}}
                  </charges>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
      </ol>
    </div>
  </div>

  <div class="flexcol details-skills-list" data-group="skillsets">
    <h4 class="box-name box-title">
      {{ localize "PF1.Skills" }}
    </h4>
    <ul class="noborder skills-list sub-scroll scroll-skillset" data-background="{{isBackgroundSkills}}">
      {{#each skillsets.known.skills as |skill s|}}
        {{#if skill.arbitrary}}
          {{#each skill.subSkills as |subSkill b|}}
            {{#if (subskillShownInSummary ../.. s b)}}
            <li class="sub-skill flexrow" data-tooltip-extended="skill.{{key}}">
              <div class="skill-name" data-sub-skill="{{b}}" data-skill="{{s}}">
                <div class="action rollable" data-sub-skill="{{b}}" data-skill="{{s}}">
                  <i class="image-d20"></i>
                </div>
                <h4>{{skill.label}} ({{subSkill.name}})
                  {{#if skill.rt}}<span data-tooltip={{localize "PF1.RTTooltip"}}>■</span>{{/if}}
                  {{#if skill.cs}}<span data-tooltip={{localize "PF1.CSTooltip"}}>*</span>{{/if}}
                </h4>
              </div>
              <h4>{{numberFormat subSkill.mod decimals=0 sign=true}}</h4>
            </li>
            {{/if}}
          {{/each}}
        {{else}}
          <li class="skill flexrow" data-tooltip-extended="skill.{{key}}">
            <div class="skill-name" data-skill="{{s}}">
              <div class="rollable image-d20" data-skill="{{s}}"></div>
              {{#if skill.custom}}
                <h4>{{skill.name}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{else}}
                <h4>{{skill.label}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{/if}}
            </div>

            <h4>{{numberFormat skill.mod decimals=0 sign=true}}</h4>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
