{{!-- AC --}}
<ul class="attributes armor-class flexrow" style="flex: none">
  <li>
    <h3 class="block-header"{{#if system.attributes.acNotes}} data-tooltip="{{system.attributes.acNotes}}"{{/if}}>{{localize "PF1.ArmorClass"}}      <a data-tooltip="{{localize "PF1.ACNotes"}}" class="note-editor small" title="{{localize "PF1.ACNotes"}}" for="system.attributes.acNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
  <li>
    <h3 class="block-header"{{#if system.attributes.saveNotes}} data-tooltip="{{system.attributes.saveNotes}}"{{/if}}>{{localize "PF1.SavingThrowPlural"}}
      <a data-tooltip="{{localize "PF1.SaveNotes"}}"  class="note-editor small" title="{{localize "PF1.SaveNotes"}}" for="system.attributes.saveNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  {{#each system.attributes.ac as |ac id|}}
    <li class="attribute armor-class" data-armorclass="{{id}}" data-tooltip-extended="ac.{{id}}">
      <h4 class="attribute-name box-title">{{ac.labelShort}}</h4>
      <div class="attribute-value">
        <span class="large">{{numberFormat ac.total decimals=0 sign=false}}</span>
      </div>
    </li>
  {{/each}}
  {{#each system.attributes.savingThrows as |savingThrow id|}}
    <li class="attribute saving-throw" data-savingthrow="{{id}}" data-tooltip-extended="save.{{id}}">
      <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
      <div class="attribute-value" style="margin-bottom: -8px">
        <span class="large">{{savingThrow.total}}</span>
      </div>
    </li>
  {{/each}}
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.BaseCombatStats"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute initiative" data-attribute="init" data-tooltip-extended="init">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
        <div class="attribute-value">
          <span class="large">{{system.attributes.init.total}}</span>
        </div>
      </li>
      <li class="attribute bab" system-attribute="bab" data-tooltip-extended="bab">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
        <div class="attribute-value">
          <span class="large">{{system.attributes.bab.total}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.CombatManeuvers"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute cmd" data-attribute="cmd">
        <h4 class="attribute-name box-title">{{localize "PF1.CMDAbbr"}} ({{localize "PF1AS.FFShort"}}) <a class="note-editor small" title="{{localize "PF1.CMDNotes"}}" for="system.attributes.cmdNotes" data-tooltip="{{localize "PF1.CMDNotes"}}"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value">
          <span class="large" {{#unless system.config.noManeuvers}}data-tooltip-extended="cmd.total"{{/unless}}>{{#if system.config.noManeuvers}}<i class="fa-solid fa-minus"></i>{{else}}{{system.attributes.cmd.total}}{{/if}}</span><span class="large" {{#unless system.config.noManeuvers}}data-tooltip-extended="cmd.flatFootedTotal"{{/unless}}> ({{#if system.config.noManeuvers}}<i class="fa-solid fa-minus"></i>{{else}}{{system.attributes.cmd.flatFootedTotal}}{{/if}})</span>
        </div>
      </li>
      <li class="attribute cmb" data-attribute="cmb">
        <!-- there are no CMB notes -->
        <h4 class="attribute-name box-title"><span class="{{#unless system.config.noManeuvers}}rollable{{else}}disabled{{/unless}}">{{localize "PF1.CMBAbbr"}}</span>  <!--<a class="note-editor small" for="data.attributes.cmbNotes" data-tooltip="{{localize "PF1.CMBAbbr"}} {{localize "PF1.Notes"}}"><i class="fas fa-edit"></i></a>--></h4>
        <div class="attribute-value" style="margin-bottom: -8px;" {{#unless system.config.noManeuvers}}data-tooltip-extended="cmb"{{/unless}}>
          <span class="large">
            {{#if system.config.noManeuvers}}
              <i class="fs-solid fa-minus"></i>
            {{else}}
              {{numberFormat system.attributes.cmb.total decimals=0 sign=true}}
            {{/if}}
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.AttackBonuses"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute attack melee" data-attribute="melee" data-tooltip-extended="generic.attack.melee">
        <h4 class="attribute-name box-title rollable" data-type="weapon" data-ranged="false">{{localize "PF1.Melee"}}</h4>
        <div class="attribute-value">
          <span class="large">{{numberFormat genericAttacks.melee.modifier decimals=0 sign=true}}</span>
        </div>
      </li>
      <li class="attribute attack ranged" data-attribute="ranged" data-tooltip-extended="generic.attack.ranged">
        <h4 class="attribute-name box-title rollable" data-type="weapon" data-ranged="true">{{localize "PF1.Ranged"}}</h4>
        <div class="attribute-value">
          <span class="large">{{numberFormat genericAttacks.ranged.modifier decimals=0 sign=true}}</span>
        </div>
      </li>
    </ul>
  </div>
</ul>

<div class="flexrow conditions" style="flex-grow: 0; min-height: 10px;"></div>

{{!-- Attack Navigation --}}
{{> "systems/pf1/templates/actors/parts/actor-item-nav-filters.hbs" category="attacks" sections=sections}}

<div class="combat-attacks" style="overflow-y: scroll;">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
      {{#unless section._hidden}}
        <div class="inventory-group flexcol">
          <ol class="item-list sub-scroll scroll-attacks" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">

            <li class="item-list-header flexrow">
              <h3 class="item-name flexrow">{{section.label}}</h3>
              {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm large" data-tooltip="{{localize "PF1.Type"}}"></i></div>{{/if}}
              <div class="item-detail item-attacks"><label>{{localize "PF1.Attacks"}}</label></div>
              <div class="item-detail item-damage"><label>{{localize "PF1.Damage"}}</label></div>
              <div class="item-detail item-range"><label>{{localize "PF1.Range"}}</label></div>
              <div class="item-detail item-actions"><i class="icon-pf icon-gears large" data-tooltip="{{localize "PF1.ActionPlural"}}"></i></div>
              <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack large" data-tooltip="{{localize "PF1.ChargePlural"}}"></i></div>
              {{#if @root.owner}}
              <div class="item-controls">
                {{#if section.interface.create}}
                <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                  <i class="fas fa-plus" data-tooltip="{{localize "PF1.Add"}}"></i>
                </a>
                {{/if}}
                {{#if (eq section.label (localize "PF1.Subtypes.Item.attack.natural.Plural"))}}
                  <a class="compendium" data-compendium-id="{{section.compendiumId}}" data-tooltip="PF1.OpenCompendium">
                    <i class="fas fa-book compendium-icon"></i>
                  </a>
                {{/if}}
              </div>
              {{/if}}
            </li>

            {{#each section.items as |item iid|}}
              {{> "attackItem" section=section item=item}}
            {{/each}}
          </ol>
        </div>
      {{/unless}}
    {{/each}}
  </section>
</div>

{{#*inline "attackItem"}}
<li class="item flexrow" data-item-id="{{item.id}}">
  <div class="item-name flexrow rollable">
    <div class="item-image" style="background-image: url('{{item.img}}')" data-tooltip="PF1.DisplayInChat"></div>
    <h4 class="item-name-text">
      {{item.name~}}
        {{#if item.broken}}
          <i class="fa fa-heart-broken"></i>
        {{/if}}
    </h4>
  </div>

  {{#if section.showTypes}}
    <div class="item-detail item-type">
      <span>{{lookup @root.config.attackTypes item.system.attackType}}</span>
    </div>
  {{/if}}

  <div class="item-detail item-attacks" data-tooltip-extended="item.{{item.id}}.attacks">
    {{#if item.hasAttack}}
      <label>{{attackSummary}}</label>
    {{/if}}
  </div>

  <div class="item-detail item-damage" data-tooltip-extended="item.{{item.id}}.damage">
    {{#if item.hasDamage}}
      <label class="resolved-formula">{{actionDamage item.document.defaultAction}}</label>
    {{/if}}
  </div>

  <div class="item-detail item-range" data-tooltip-extended="item.{{item.id}}.range">
    {{#if item.hasRange}}
      <label>{{actionRange item.document.defaultAction @root.rollData}}</label>
    {{/if}}
  </div>

  <div class="item-detail item-actions">
    <div class="item-action">
      {{#if item.hasAction}}
      <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
        <i class="image-d20"></i>
      </a>
      {{/if}}
    </div>
  </div>

  <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
    {{#if item.isCharged}}
      <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.charges}}</span>
      <span class="sep"> / </span>
      <span class="max">{{item.maxCharges}}</span>
    {{else if item.usesAmmo}}
      <span class="ammo-remaining">{{item.ammoRemaining}}</span>
    {{/if}}
  </div>

  {{#if @root.owner}}
    <div class="item-controls">
      <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
      <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
      <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
    </div>
  {{/if}}
</li>
{{/inline}}
