<div class="inventory-filters">
  <ol class="currency flexrow">
    <h3>
      {{localize "PF1.Currency.Label"}}
    </h3>
    {{#each system.currency as |v k|}}
      <label class="denomination {{k}}">{{lookup @root.config.currencies k}}</label>
      <span class="text-box direct allow-relative" name="system.currency.{{k}}">{{v}}</span>
      <a class="convert-currency" data-type="{{k}}" data-category="currency" data-tooltip="{{localize "PF1.ConvertCurrency"}}"><i class="fas fa-long-arrow-alt-left"></i></a>
    {{/each}}
    
  </ol>
  {{#if isCharacter}}
    <ol class="currency flexrow">
      <h3>
        {{localize "PF1.Currency.Weightless"}}
      </h3>
      {{#each system.altCurrency as |v k|}}
        <label class="denomination {{k}}">{{lookup @root.config.currencies k}}</label>
        <span class="text-box direct allow-relative" name="system.altCurrency.{{k}}">{{v}}</span>
        <a class="convert-currency" data-type="{{k}}" data-category="altCurrency" data-tooltip="{{localize "PF1.ConvertCurrency"}}"><i class="fas fa-long-arrow-alt-left"></i></a>
      {{/each}}
    </ol>
  {{/if}}
</div>

{{!-- Inventory Navigation --}}
{{> "systems/pf1/templates/actors/parts/actor-item-nav-filters.hbs" category="inventory" sections=sections}}


<section class="inventory-body">
{{#each sections as |section sid|}}
  {{#unless section._hidden}}
    <div class="item-list inventory-group flexcol" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
      <li class="item-list-header flexrow items-{{id}}">
        <div class="item-name">
          <h3>{{section.label}}</h3>
        </div>

        {{#if section.interface.slots}}<div class="item-detail item-slot"><i class="icon-pf icon-inventory-slot large" data-tooltip="PF1.Slot"></i></div>{{/if}}
        {{#if section.interface.actions}}<div class="item-detail item-actions"><i class="icon-pf icon-gears large" data-tooltip="PF1.ActionPlural"></i></div>{{/if}}

        {{#if section.interface.value}}
          <div class="item-detail item-value"><i class="icon-pf icon-coins large" data-tooltip="PF1.Value"></i></div>
        {{/if}}
          <div class="item-detail item-weight"><i class="icon-pf icon-weight large" src="systems/pf1/icons/actions/weight.svg" data-tooltip="PF1.ItemWeight"></i></div>
        {{#if @root.isGM}}
          <div class="item-detail item-identified"><i class="icon-pf icon-quill-ink large" data-tooltip="PF1.Identified"></i></div>
        {{/if}}
          <div class="item-detail item-carried"><i class="icon-pf icon-wheelbarrow large" data-tooltip="PF1.Carried"></i></div>
        {{#if section.interface.noEquip}}
          <div class="item-detail item-equipped"><i class="icon-pf icon-battle-gear large" data-tooltip="PF1.Equipped"></i></div>
        {{/if}}
          <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack large" data-tooltip="PF1.ChargePlural"></i></div>

        {{#if @root.owner}}
          <div class="item-controls">
            {{#if section.interface.create}}
              <a class="item-control item-create" data-tooltip="PF1.CreateItem"  data-create="{{path}}">
                <i class="fas fa-plus"></i>
              </a>
            {{/if}}
            <a data-action="browse" data-source="{{path}}" data-tooltip="PF1.BrowseItems"><i class="fas fa-folder-plus"></i></a>
          </div>
        {{/if}}
      </li>

      {{#each section.items as |item iid|}}
        {{> "inventoryItem" section=section item=item}}
      {{/each}}
    </div>
  {{/unless}}
{{/each}}
</section>

  {{#unless isLootSheet}}
    <div class="flexcol tab-footer" data-tooltip-extended="carryCapacity" data-tooltip-direction="UP">

      <div class="flexrow form-group carry-bonus">
        <div>
          <label>{{localize "PF1.BonusCarryStrength"}}</label>
          <input type="text" name="system.details.carryCapacity.bonus.user" value="{{system.details.carryCapacity.bonus.user}}" type="number" data-dtype="Number" placeholder="0" />
        </div>
        <div>
          <label>{{localize "PF1.Multiplier"}}</label>
          <input type="text" name="system.details.carryCapacity.multiplier.user" value="{{system.details.carryCapacity.multiplier.user}}" type="number" data-dtype="Number" placeholder="0" />
        </div>
        <div>
          <label>{{localize "PF1.Quadruped"}}</label>
          <label class="checkbox">
            <input type="checkbox" name="system.attributes.quadruped" {{checked system.attributes.quadruped}}/>
          </label>
        </div>
        <div>
          <label>{{labels.totalValue}}</label>
        </div>
      </div>
      {{#with encumbrance}}
        <div class="flexrow">
          <div class="encumbrance {{#if encumbered.light}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.light}}encumbered{{/if}}" style="width:{{pct.light}}%; background: {{colors.light}}"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryLightLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{light}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="encumbrance {{#if encumbered.medium}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.medium}}encumbered{{/if}}" style="width:{{pct.medium}}%; background: {{colors.medium}}"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryMediumLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{medium}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="encumbrance {{#if encumbered.heavy}}encumbered{{/if}}">
            <span class="encumbrance-bar {{#if encumbered.heavy}}encumbered{{/if}}" style="width:{{pct.heavy}}%; background: {{colors.heavy}}"></span>
            <span class="encumbrance-label">{{localize "PF1.CarryHeavyLoad"}}</span>
            <span class="encumbrance-value">{{value}} / {{heavy}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
        </div>
        <div class="flexrow form-group">
          <div class="flexrow">
            <label>{{localize "PF1.CarryAboveHead"}}</label>
            <span style="margin-right: 10px; flex: 1; text-align: right;">{{aboveHead}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="flexrow">
            <label>{{localize "PF1.CarryOffGround"}}</label>
            <span style="margin-right: 10px; flex: 1; text-align: right;">{{offGround}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
          <div class="flexrow">
            <label>{{localize "PF1.CarryDragPush"}}</label>
            <span style="margin-right: 30px; flex: 1; text-align: right;">{{dragPush}} {{#if (isMetric)}}kg{{else}}lb{{/if}}</span>
          </div>
        </div>
      {{/with}}
    </div>
  {{else}}
    {{#with encumbrance}}
      <div class="flexcol tab-footer">
        <div class="flexrow">
          <span class="tag">{{carryLabel}}</span>
          <span class="tag">{{@root.labels.totalValue}}</span>
          <span class="tag">{{@root.labels.sellValue}}</span>
        </div>
      </div>
    {{/with}}
  {{/unless}}

{{#*inline "inventoryItem"}}
<li class="item flexrow{{#if item.disabled}} disabled{{/if}}{{#if item.isEmpty}} empty{{/if}}{{#if item.destroyed}} destroyed{{else if item.isBroken}} broken{{/if}}" data-item-id="{{id}}">
  <div class="item-name flexrow rollable">
    <div class="item-image" style="background-image: url({{item.img}})"></div>
    <h4 class="item-name-text">
      {{~#if item.isStack}}({{item.quantity}}) {{/if}}
      {{item.name~}}
        {{#if item.broken}}
          <i class="fa fa-heart-broken"></i>
        {{/if}}
    </h4>
  </div>

  {{#if section.interface.slots}}
  <div class="item-detail item-slot">
    {{#if labels.slot}}
    <span data-tooltip="{{labels.slot}}">{{labels.slot}}</span>
    {{/if}}
  </div>
  {{/if}}

  {{#if section.interface.actions}}
  <div class="item-detail item-actions">
    <div class="item-attack">
      {{#unless (or item.showUnidentifiedData item.disabled)}}
      {{#if item.hasAction}}
      <a class="item-control item-action action roll" data-tooltip="PF1.UseItem">
        <i class="image-d20"></i>
      </a>
      {{/if}}
      {{/unless}}
    </div>
  </div>
  {{/if}}

  {{#if section.interface.value}}
  <div class="item-detail item-value">
    <span>{{localize @root.labels.currency value=item.price}}</span>
  </div>
  {{/if}}

  <div class="item-detail item-weight">
    {{#if item.isPhysical}}
    <span>{{numberFormatAlt item.weight.converted.total decimals=2}} {{@root.units.weight}}</span>
    {{/if}}
  </div>

  {{#if @root.isGM}}
  <div class="item-detail item-identified">
    <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
  </div>
  {{/if}}

  <div class="item-detail item-carried">
    <a class="item-control item-carry"><span>{{{item.labels.carried}}}</span></a>
  </div>

  {{#if section.interface.noEquip}}
  <div class="item-detail item-equipped">
    {{#if section.interface.equip}}
      <a class="item-control item-equip"><span>{{{item.labels.equipped}}}</span></a>
    {{/if}}
  </div>
  {{/if}}

  <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
    {{#unless showUnidentifiedData}}
    {{#if item.hasResource}}
    <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
    <span class="sep"> / </span>
    <span class="max">{{item.uses.max}}</span>
    {{/if}}
    {{/unless}}
  </div>

  {{#if @root.owner}}
    <div class="item-controls">
      <a class="item-control item-quantity-add" data-tooltip="PF1.QuantityAdd"><i class="fas fa-plus"></i></a>
      <a class="item-control item-quantity-subtract" data-tooltip="PF1.QuantitySub"><i class="fas fa-minus"></i></a>
      <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
      <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
      <a class="item-control item-split{{#unless item.isStack}} disabled{{/unless}}" data-tooltip="PF1.SplitItem"><i class="fas fa-people-arrows"></i></a>
      <a class="item-control item-give" data-tooltip="PF1.GiveItem"><i class="fas fa-gift"></i></a>
      <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
    </div>
  {{/if}}
</li>
{{/inline}}
