{{!-- Spellbook Navigation --}}
<nav class="sheet-navigation tabs spellbooks" data-group="spellbooks">
  {{#each system.attributes.spells.spellbooks as |spellbook a|}}
    {{#if spellbook.inUse}}
        <a class="item" data-tab="{{a}}" data-group="spellbooks">
          {{spellbook.label}}
        </a>
    {{/if}}
  {{/each}}
</nav>

<section class="spellbooks-body">
  {{#each spellbookData}}
    {{#if inUse}}
    <div class="tab spellbook-group flexcol" data-group="spellbooks" data-tab="{{@key}}">
    {{~> "modules/pf1-alt-sheet/templates/parts/actor-spellbook.hbs" spellbook=this bookId=@key
    data=../data filters=../filters.spellbook isCharacter=@root.isCharacter
    spellFailure=../spellFailure hiddenElems=../hiddenElems}}
    </div>
    {{/if}}
  {{/each}}
</section>
