<div class="tab-footer flexcol">
  <div class="flexrow form-group">
    <div class="features-formula">
      <label>{{localize "PF1.BonusFeatFormula"}}</label>
      <input type="text" name="system.details.bonusFeatFormula" value="{{system.details.bonusFeatFormula}}" placeholder="{{localize "PF1.Formula"}}" style="width: 200px; margin-left: 10px" />
    </div>
    <div class="flexrow">
      <div>
        <label>{{localize "PF1.Feats"}}</label>
        <span style="margin-right: 10px; margin-left: 10px" data-tooltip-extended="feats" data-tooltip-direction="DOWN">
          {{featCount.active}} / {{featCount.max}}
        </span>
        {{#if (lt featCount.max featCount.active)}}
          <span style="flex: 0 0 25px">
            <i class="fas fa-exclamation-triangle" data-tooltip="{{localize "PF1AS.Features.TooManyFeats"}}"></i>
          </span>
        {{/if}}
      </div>

      {{#if featCount.issues}}
      <div class="info-box-joined issues" style="--issues:{{featCount.issues}};">
        {{#if featCount.missing}}
        <div class="info-box missing">
          <label>{{localize "PF1.Missing"}}</label>
          <span class="value">{{featCount.missing}}</span>
        </div>
        {{else if featCount.excess}}
        <div class="info-box excess">
          <label>{{localize "PF1.Excess"}}</label>
          <span class="value">{{featCount.excess}}</span>
        </div>
        {{/if}}

        {{#if featCount.disabled}}
        <div class="info-box disabled">
          <label>{{localize "PF1.Disabled"}}</label>
          <span class="value">{{featCount.disabled}}</span>
        </div>
        {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{!-- Feat Navigation --}}
{{> "systems/pf1/templates/actors/parts/actor-item-nav-filters.hbs" category="features" sections=sections}}

<section class="feats-body">
  {{#each sections as |section sid|}}
  {{#unless section._hidden}}
    <div class="feats-group flexcol">
      <ol class="item-list sub-scroll scroll-feats feats-{{id}}" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
        <li class="item-list-header flexrow">
          <h3 class="item-name flexrow">{{section.label}}</h3>
          {{#if section.isClass}}
            <input type="checkbox" class="altsheet-minimize-classes-checkbox" data-tooltip="{{localize "PF1AS.Features.MinimizeClasses"}}" data-altsheet-config-path="features.minimizeClasses" {{checked ../altSheet.features.minimizeClasses}} />
            <div class="item-detail item-feat-level"><i class="icon-pf icon-upgrade large" data-tooltip="{{localize "PF1.Level"}}"></i></div>
            {{#if @root.owner}}
              <div class="item-controls">
                {{#if section.interface.create}}
                  <a class="item-control item-create" data-tooltip="{{ localize 'PF1.CreateItem' }}" data-create="{{path}}">
                    <i class="fas fa-plus"></i>
                  </a>
                {{/if}}
                <a data-action="browse" data-source="{{path}}" data-tooltip="{{localize "PF1.BrowseItems"}}">
                  <i class="fas fa-folder-plus"></i>
                </a>
              </div>
            {{/if}}
          {{else}}
            {{#if section.interface.types}}
              <div class="item-detail item-type"><i class="icon-pf icon-magic-palm large" data-tooltip="PF1.Type"></i></div>
            {{/if}}

            {{#if section.interface.actions}}
              <div class="item-detail item-actions"><i class="icon-pf icon-gears large" data-tooltip="PF1.ActionPlural"></i></div>
              <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack large" data-tooltip="PF1.ChargePlural"></i></div>
              <div class="item-detail item-usage"><i class="icon-pf icon-hand large" data-tooltip="PF1.Usage"></i></div>
            {{/if}}

            {{#if section.interface.level}}
              <div class="item-detail item-feat-level"><i class="icon-pf icon-upgrade" data-tooltip="PF1.Level"></i></div>
            {{/if}}

            {{#if @root.owner}}
              <div class="item-controls">
                {{#if section.interface.create}}
                  <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                    <i class="fas fa-plus"></i>
                  </a>
                {{/if}}
                <a data-action="browse" data-source="{{path}}" data-tooltip="PF1.BrowseFeats">
                  <i class="fas fa-folder-plus"></i>
                </a>
              </div>
            {{/if}}
          {{/if}}
        </li>

        {{#each section.items as |item iid|}}
          {{> "featureItem" section=section item=item}}
        {{else}}
          <li class="fake-item flexrow">
            <h3  class="sublist-empty">{{ localize 'PF1AS.NoFeatures' }}</h3>
          </li>
        {{/each}}
      </ol>
    </div>
  {{/unless}}
  {{/each}}
</section>

{{#*inline "featureItem"}}
{{#if section.isClass}}
  {{#if @root.altSheet.features.minimizeClasses}}
  <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}{{#if item.disabled}} disabled{{/if}}" data-item-id="{{item.id}}">
    <div class="item-name flexrow rollable">
      <div class="item-image" style="background-image: url({{item.img}})"></div>
      <h4 class="item-name-text">{{item.name}}</h4>
    </div>
    <div class="item-detail item-feat-level tooltip" data-tooltip-extended="item.{{item.id}}.level">
      <span>Level {{item.level}}</span>
    </div>
    {{#if @root.owner}}
      <div class="item-controls">
        {{#if (or @root.levelUp item.xpUnbound)}}
          <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Action"}}"><i class="fa-solid fa-up-long"></i></a>
        {{/if}}
        <a class="item-control item-edit" data-tooltip="{{ localize 'PF1.EditItem' }}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-tooltip="{{ localize 'PF1.DeleteItem' }}"><i class="fas fa-trash"></i></a>
      </div>
    {{/if}}
  </li>
  {{else}}
  <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}} {{#if (isMythicPath item)}}mythic-path{{/if}}" data-item-id="{{item.id}}">
    <div class="item-name flexrow">
      <div class="item-image class-icon rollable" style="background-image: url('{{item.img}}')"></div>
      <div class="flexcol">
        <h2 class="block-header item-name-text" style="margin: 0; font-size: 2rem;">{{item.name}}</h2>
        <div class="flexrow class-view">
          <span class="class-view-info"><strong>{{ localize 'PF1.HitDieShort' }}:</strong> {{localize "PF1AS.DieLetter"}}{{item.hd}}</span>
          <span class="class-view-info"><strong>{{ localize 'PF1.HPShort' }}:</strong> {{item.hp}} / {{item.hpMax}}</span>
          <span class="class-view-info"><strong>{{ localize 'PF1.SkillsPerLevel' }}:</strong> {{item.skillsPerLevel}}</span>
          <span class="class-view-info"><strong>{{ localize 'PF1.BABAbbr' }}:</strong> {{lookup @root.config.classBAB item.bab}}</span>
          <h4 class="alt-item-hints-container class-view-info"></h4>
        </div>
        <h3 class="block-header class-features-toggle" onclick="$('.item-list-class-{{item.id}}').slideToggle(); $('.item-list-h-{{item.id}}').toggle(); $('.item-list-s-{{item.id}}').toggle();">
          {{ localize 'PF1.ClassFeaturePlural' }}
          <span class="item-list-s-{{item.id}}" style="margin-left: 4px; opacity: 0.7"><i class="fas fa-angle-double-down"></i></span>
          <span class="item-list-h-{{item.id}}" style="margin-left: 4px; display: none; opacity: 0.7"><i class="fas fa-angle-double-up"></i></span>
        </h3>
      </div>
    </div>
    <div class="flexcol item-feat-level class-level-box tooltip" style="text-align: center" data-tooltip-extended="item.{{item.id}}.level">
      <p style="font-size: 1.2rem;flex: 0; margin: 0">{{#if (isMythicPath item)}}{{localize "PF1.Tier"}}{{else}}{{localize "PF1.Level"}}{{/if}}</p>
      <p style="font-size: 2rem; ">{{item.level}}</p>
    </div>
    {{#if @root.owner}}
      <div class="item-controls">
        {{#if (or @root.levelUp item.xpUnbound)}}
          <a class="item-control level-up" data-item-id="{{item.id}}" data-tooltip="{{localize "PF1.LevelUp.Action"}}"><i class="fa-solid fa-up-long"></i></a>
        {{/if}}
        <a class="item-control item-edit" data-tooltip="{{ localize 'PF1.EditItem' }}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-tooltip="{{ localize 'PF1.DeleteItem' }}"><i class="fas fa-trash"></i></a>
      </div>
    {{/if}}
    <div class="item-class-features" style="border-top: none; border-bottom: 1px solid #c9c7b8;">
      <ol class="item-list item-list-class-{{item.id}}" style="display: none;">
        {{#each item.links.classAssociations as |iitem iiid|}}
          <li class="fake-item flexrow">
            <div class="item-name flexrow">
              <div class="item-image" style="background-image: url('{{iitem.img}}')"></div>
              <a class="compendium-entry" data-compendium-entry="{{iitem.uuid}}">
                <i class="fas fa-book compendium-icon"></i>
                <span style="margin-left: 3px;">{{iitem.name}}</span>
                </a>
            </div>
            <div class="item-feat-level">
              <span>{{iitem.level}}</span>
            </div>
          </li>
        {{else}}
          <h3 class="sublist-empty">{{ localize 'PF1AS.ClassNoFeatures' }}</h3>
        {{/each}}
      </ol>
    </div>
  </li>
  {{/if}}
{{else}}
  <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}{{#if item.disabled}} disabled{{/if}}" data-item-id="{{item.id}}">
    <div class="item-name flexrow rollable">
      <div class="item-image" style="background-image: url({{item.img}})"></div>
      <h4 class="item-name-text">{{item.name}}</h4>
    </div>

    {{#if section.interface.types}}
      <div class="item-detail item-type">
        <span>{{item.typelabel}}</span>
      </div>
    {{/if}}

    {{#if section.interface.actions}}
    <div class="item-detail item-actions">
      <div class="item-attack">
        {{#unless item.disabled}}
        {{#if item.hasAction}}
        <a class="item-control item-action action roll" data-tooltip="PF1.UseFeat">
          <i class="image-d20"></i>
        </a>
        {{/if}}
        {{/unless}}
      </div>
    </div>

    <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
      {{#if item.isCharged}}
        <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
        <span class="sep"> / </span>
        <span class="max">{{item.uses.max}}</span>
      {{/if}}
    </div>
    <div class="item-detail item-usage">
      {{#if item.labels.activation}}
        <span>{{item.labels.activation}}</span>
      {{/if}}
    </div>
    {{/if}}

    {{#if @root.owner}}
      <div class="item-controls">
        <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
        <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
        <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
      </div>
    {{/if}}
  </li>
{{/if}}
{{/inline}}
