<header class="sheet-header flexrow">
  <div class="profile">
    <img src="{{actor.img}}" class="profile" data-edit="img">
    {{#if (eq altSheet.headerSidebar "true")}}
      <div class="settings">
        <a class="settings-button"><i class="fas fa-cog"></i></a>
      </div>
    {{/if}}
  </div>
  <div class="header-details flexcol">
    <div class="{{#if (eq altSheet.headerSidebar "true")}}flexcol{{else}}flexrow{{/if}}">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
      </h1>

      <div class="charlevel">
        <div class="flexrow">
          <div class="level {{#if disableExperience}}noxp{{/if}}" data-tooltip-extended="level">
            <span>
              {{localize "PF1.Level"}} {{system.details.level.value}}
              {{#if system.details.mythicTier}}
                | {{localize "PF1.Tier"}} {{system.details.mythicTier}}
              {{/if}}
            </span>
          </div>
          {{#unless (eq altSheet.headerSidebar "true")}}
            <div class="settings">
              <a class="settings-button"><i class="fas fa-cog"></i></a>
            </div>
          {{/unless}}
        </div>
        {{#if isCharacter}}
          {{#unless disableExperience}}
            <div class="experience">
              <span class="text-box direct allow-relative no-value-cap" name="system.details.xp.value" data-dtype="Number">{{system.details.xp.value}}</span>
              <span class="max"> / {{system.details.xp.max}}</span>
            </div>
            <div class="xpbar">
              <span class="bar" style="width: {{system.details.xp.pct}}%"></span>
            </div>
          {{/unless}}
        {{else}}
          <div class="flexrow">
            <span style="flex: 0;">{{localize "PF1.ChallengeRatingShort"}}</span>
            <span class="text-box cr-input" name="system.details.cr.base">{{labels.cr}}</span>
            <span>{{localize "PF1AS.ExperienceShort"}} {{system.details.xp.value}}</span>
          </div>
        {{/if}}
      </div>
    </div>
    {{!-- Character Summary --}}
    <div class="flexcol">
      <ul class="summary">
        <li>
          <input type="text" name="system.details.gender" value="{{system.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
        </li>
        <li>
          <select name="system.details.alignment" data-dtype="String">
            {{selectOptions @root.config.alignments selected=system.details.alignment}}
          </select>
        </li>
        <li>
          <input type="text" name="system.details.deity" value="{{system.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
        </li>
        <li>
          <input type="text" name="system.details.age" value="{{system.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
        </li>
        <li>
          <input type="text" name="system.details.height" value="{{system.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
        </li>
        <li>
          <input type="text" name="system.details.weight" value="{{system.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
        </li>
        <!-- race._id is correct here as race is an ItemData which is not a Document -->
        <li class="flexrow race-container item {{#unless race}}norace{{/unless}}" {{#if race}}data-item-id="{{race._id}}"{{/if}}>
          <div class="race item-image rollable {{#unless race}}norace{{/unless}}" style="background-image: url({{race.img}});">
          </div>

          {{#if race}}
            <div>
              <span style="margin-right: 10px;">{{race.name}}</span>
              <div>
                {{#each system.traits.creatureTypes.selected}}
                  <span class="race-info tag {{@key}}">{{this}}</span>
                {{/each}}{{#each system.traits.creatureSubtypes.selected}}
                  <span class="race-info tag {{@key}}">{{this}}</span>
                {{/each}}
              </div>
            </div>
          {{else}}
            <div>
              {{localize "PF1.Race"}}
            </div>
          {{/if}}
          <div class="item-controls flexrow" style="flex: 0 40px;">
            {{#if owner}}
              {{#unless race}}
                <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}">
                  <i class="fas fa-plus"></i>
                </a>
                <a data-action="browse" data-category="races" data-tooltip="PF1.BrowseRaces">
                  <i class="fas fa-folder-plus"></i>
                </a>
              {{/unless}}
              {{#if race}}
                <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}">
                  <i class="fas fa-trash"></i>
                </a>
              {{/if}}
            {{/if}}
          </div>
        </li>

        <li data-tooltip-extended="speed.land">
          <span style="margin-left: 4px">{{convertDistance system.attributes.speed.land.total}}{{units.distance.tactical}} {{ localize "PF1.Movement.Mode.land" }} </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="summary-classes">
    {{#each features.0.items}}
      <img src="{{img}}" title="{{name}}" class="summary-class-icon" data-tooltip-extended="item.{{id}}.level"/>
    {{/each}}
  </div>
</header>